# LOOPS(if/else condition)

In [1]:
x=0

#define a while loop

while(x<4):
    print(x,end=" ")
    x=x+1

0 1 2 3

In [2]:
# task: print First 10 natural number using while loop:

i=1
while (i<10):
    print(i,end=" ")
    
    i=i+1

1 2 3 4 5 6 7 8 9

In [3]:
for x in range(2,7):
    print(x,end=" ")

2 3 4 5 6

In [4]:
Months=["Jan","Feb","Mar","April","May","June"]

for m in Months:
    print(m,end="  ")

Jan  Feb  Mar  April  May  June

In [5]:
# Measur some strings:
words=["cat","window","defensestrate"]

for w in words:
    print(w)

cat
window
defensestrate

In [6]:
for w in words:
    print(w,len(w))

cat 3
window 6
defensestrate 13

In [7]:
range(5,10)

range(5, 10)

In [8]:
range(0,10,3)

range(0, 10, 3)

In [9]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
a=["Mary","Had","a","little","lamb"]

In [11]:
for a in a:
    print(len(a))

4
3
1
6
4

In [12]:
x=8
y=4
if(x<y):
    st="x is less than y"
else:
    st=("X is greater than Y")

In [13]:
print(st)

X is greater than Y

In [14]:
x=int(input("Please enter an integer:"))

Please enter an integer:2

In [15]:
if x<0:
    x=0
    print("Negative changed to zero")
elif x==0:
    print("Zero")
elif x==1:
    print("Single")
else:
    print("More")

More

In [17]:
# Task: write a program using if-elif with different country value and total values

country="AU"
total=100

if country=="US":
    if total<=50:
        print("Shipping Cost is $50")
    elif total<=100:
        print("Shipping Cost is $25")
    elif total<=150:
        print("Shipping Cost $5")
    else:
        print("FREE")
        
if country == "AU":
    if total <= 50:
        print("Shipping Cost is $100")
    else:
        print("FREE")
    
if country=="AU":
    if total<=50:
        print("Shipping Cost is $100")
    else:
        print("FREE")

FREE
FREE

In [18]:
Total=100
Country="US"

if country=="US":
    if total<=50:
        print("Shipping Cost is $50")
    elif total<=100:
        print("Shipping Cost is $25")
    elif total<=150:
        print("Shipping Cost $5")
    else:
        print("FREE")
        
if country == "AU":
    if total <= 50:
        print("Shipping Cost is $100")
    else:
        print("FREE")
    
if country=="AU":
    if total<=50:
        print("Shipping Cost is $100")
    else:
        print("FREE")

FREE
FREE

In [19]:
# write a program to find even or odd using for loop /range function.

for i in range(2,10):
    if i%2==0:
        print(i," Number is Even")

2  Number is Even
4  Number is Even
6  Number is Even
8  Number is Even

In [20]:
for i in range(1,10):
    if i%2!=0:
        print("This is the odd number",i)

This is the odd number 1
This is the odd number 3
This is the odd number 5
This is the odd number 7
This is the odd number 9

In [21]:
# write two different loops for break if x is even number and continue when the number is divide by 5.

for x in range(0,20):
    if (x==15):
        break
    if(x%5==0):
        continue
    print(x,end=" ")

1 2 3 4 6 7 8 9 11 12 13 14

In [22]:
for x in range(2,20):
    if x==10:
        break
    if x%5==0:
        continue
        
        
    print(x, end=" ")

2 3 4 6 7 8 9

In [23]:
for x in range(10,20):
    if x==20:
        break
    if (x%2==0):# we are boycotting even from range 10 to break 20 point
        continue
    print(x,end=" ")
    
print("Break")

11 13 15 17 19 Break

In [24]:
for x in range(10,20):
    if(x==15):
        break
    if (x%2==1):# we are boycotting odds from range 1o to break 15 point
        continue
    print(x,end=" ")

10 12 14

In [25]:
# Display numbers divisible by 5 from a list.Iterate the given list of numbers and print only those numbers which are divisible by 5.

In [26]:
num_list = [10, 20, 33, 46, 55]

for i in num_list:
    i%5==0
print(i)

55

In [27]:
num_list = [10, 20, 33, 46, 55]

print("Given list:",num_list)
print("Divisible by 5:")

for i in num_list:
    i%5==0
    print(i,end=" ")

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10 20 33 46 55

In [28]:
# Calculate the sum of all numbers from 1 to a given number
# run loop n times, stop: n+1 (because never include stop number in result)
# add cur number to sum variable
s=0
n=int(input("Enter the number"))

for i in range(1,n+1,1):
   
    s=s+i
    
    print('\n')
    print("Sum is:",s,end="")
    
  #working step(size1)
"""
s=s+i
1=0+1

3=1+(1+1) here 1 is first loop
6=3+(2+1) n loop-2
9=6+(3+1) n loop-3
14=9+(4+1) n loop-4
20=14+(5+1) n loop-5

"""

Enter the number5


Sum is: 1

Sum is: 3

Sum is: 6

Sum is: 10

Sum is: 15

'\ns=s+i\n1=0+1\n\n3=1+(1+1) here 1 is first loop\n6=3+(2+1) n loop-2\n9=6+(3+1) n loop-3\n14=9+(4+1) n loop-4\n20=14+(5+1) n loop-5\n\n'

s=s+1

s=0 #### at initial your sum is zero
n=int(input("Enter the number")) ## here you enter number 4

for i in range(1,n+1,1):
### here loop will start 1,2,3,4 okay here 5 will not come because
##first number include last number not included

#### last one is step we gave 1 that is 1,2,3,4 like that

s=s+i # in s we store ans and i iterate the element

print("Sum is:",s)

In [29]:
# Write a program to print multiplication table of a given number

n=2 #start range 1, stop =11,step=1

for i in range(1,11,1):
    result=n*i
    print(result,end=" ") # variable result added...to fetch output

2 4 6 8 10 12 14 16 18 20

In [30]:
s=0
n=int(input("Enter the number"))

for i in range(1,n+1,2):
   
    s=s+i
    
    print('\n')
    print("Sum is:",s,end="")
    
    #working step(size2)
"""
s=s+i
1=0+1
---step size 2----
4=1+(2+1) here 1 is first loop

---step size 4--
9=4+(4+1) n loop-2

-----step size 6---
16=9+(6+1) n loop-3

-----step size 8---
25=16+(8+1) n loop-4
"""

Enter the number10


Sum is: 1

Sum is: 4

Sum is: 9

Sum is: 16

Sum is: 25

'\ns=s+i\n1=0+1\n---step size 2----\n4=1+(2+1) here 1 is first loop\n\n---step size 4--\n9=4+(4+1) n loop-2\n\n-----step size 6---\n16=9+(6+1) n loop-3\n\n-----step size 8---\n25=16+(8+1) n loop-4\n\n------step size 10---\n36=25+(10+1) n loop-5\n\n'

In [2]:
vec = [-4, -2, 0, 2, 4]
list1=[]
for i in vec:
    list1.append(i)
    i*2
print(list1)

[-4, -2, 0, 2, 4]

In [3]:
list1

[-4, -2, 0, 2, 4]

In [4]:
vec

[-4, -2, 0, 2, 4]

In [7]:
c=[x for x in vec if x>=0]

In [8]:
c

[0, 2, 4]

In [14]:
def multifyfun():
    for x in vec:
        abc=x*2
        print(abc,end=" ")

In [15]:
multifyfun()

-8 -4 0 4 8

In [18]:
c=[x for x in vec if x<0]

In [19]:
c

[-4, -2]

In [21]:
# apply a function to all the elements
def fun():
    for x in vec:
        if x%2==0:
            print(x)

In [23]:
fun()

-4
-2
0
2
4

In [24]:
freshfruit = [' banana', ' loganberry ', 'passion fruit ']

In [26]:
freshfruit

[' banana', ' loganberry ', 'passion fruit ']

In [29]:
for f in freshfruit:
    print(f)

 banana
 loganberry
passion fruit

In [30]:
# create a list of 2-tuples like (number, square)

[(x,x**2)for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [31]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [ ]:
#To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the

In [37]:
def reversedfun():
    for i in reversed(range(1,10,2)):
        print(i)

In [38]:
reversedfun()

9
7
5
3
1