In [1]:
def main():
    x,y=8,4
    
    if(x<y):
        st="x is less than y"
    else:
        st="x is greater than y"
    print(st)

In [2]:
if __name__=="__main__":
    main()

x is greater than y

In [3]:
def main():
    x,y =8,8
    if(x < y):
        st= "x is less than y"
    else:
        st= "x is greater than y"
    print(st)

if __name__ == "__main__":
    main()

x is greater than y

In [4]:
def main():
    x,y=8,8
    
    if(x<y):
        st="x is less than y"
    elif(x==y):
        st="x is equal to y"
    else:
        st="x is greater than y"
    print(st)

In [5]:
if __name__ == "__main__":
    main()

x is equal to y

In [6]:
class myClass():
    
    def method1(self):
        print("DT")
        
    def method2(self,someString):
        print("Software Testing:"+someString)
        
    def main():
        c=myClass()
        c.method1()
        c.method2("Testing is fun")
        
if __name__=="__main__":
        main()

x is equal to y

In [7]:
Word=input("Please Enter Any Name ")
print("Length",len(Word))

for i in range(0,len(Word)):
    print("index ",i ,Word[i])

Please Enter Any Name hello
Length 5
index  0 h
index  1 e
index  2 l
index  3 l
index  4 o

In [8]:
list1=["M","na","i","Ke"]
list2=["y","me","s","lly"]

list3=[i+j for i,j in zip(list1,list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

In [9]:
#write a program to turn every item of a list into its square.

numbers=[1,2,3,4,5,6,7]
#result list
res=[]

for i in numbers:
    #calculate square and add the result
    res.append(i*i)
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [10]:
#Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

list1=[5,10,15,20,25,50,200]
#get the first coccurence index
index=list1.index(20)

#update items present at location

list1[index]=200
print(list1)

[5, 10, 15, 200, 25, 50, 200]

In [11]:
index=list1.index(25)
list1[index]=250
print(list1)

[5, 10, 15, 200, 250, 50, 200]

In [12]:
index=list1.index(50)
list1[index]=500
print(list1)

[5, 10, 15, 200, 250, 500, 200]

In [14]:
#Write a Program to extract each digit from an integer in the reverse order.
number=56430
print("Given Number",number)

while number>0:
    #get the last digit
    digit=number%10
    #remove the last digit and repeat loop
    number=number//10
    print(digit)

Given Number 56430
0
3
4
6
5

In [15]:
#Count the total number of digits in a number

#Solution:

num=12345670
count=0
while num!=0:
    #floor division #to reduce the last digit from number
    num=num//10
    #increment counter by 1
    count=count+1
    print("Total digits are:",count)

Total digits are: 1
Total digits are: 2
Total digits are: 3
Total digits are: 4
Total digits are: 5
Total digits are: 6
Total digits are: 7
Total digits are: 8

# Assignment 8

In [16]:
#Excercise-1

In [17]:
keys=['Ten','twenty','Thirty']
values=[10,20,30]

# using zip function 

res_dict=dict(zip(keys,values))
print(res_dict)

{'Ten': 10, 'twenty': 20, 'Thirty': 30}

In [18]:
#Solution 2:
keys=['ten','twenty','thirty']
values=[10,20,30]

#empty dict
res_dict=dict()

for i in range(len(keys)):
    res_dict.update({keys[i]:values[i]})
    print(res_dict)

print("Final loop ",res_dict)

{'ten': 10}
{'ten': 10, 'twenty': 20}
{'ten': 10, 'twenty': 20, 'thirty': 30}
Final loop  {'ten': 10, 'twenty': 20, 'thirty': 30}

In [19]:
#Exercise 2:

In [20]:
# merge two dict:
dict1={'Ten':10,'Twenty':20,"Thirty":30}
dict2={'Thirty':30,'Fourty':40,"Fifty":50}

dict3=dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [21]:
#Exercise 3: initialize dictonary with default values

In [22]:
employees=['kelly','emma','kim']
defaults={"designation":'Developer','salary':800}
res=dict.fromkeys(employees,defaults)
print(res)

{'kelly': {'designation': 'Developer', 'salary': 800}, 'emma': {'designation': 'Developer', 'salary': 800}, 'kim': {'designation': 'Developer', 'salary': 800}}

In [23]:
print(res['kelly'])

{'designation': 'Developer', 'salary': 800}

In [24]:
print(res['emma'])

{'designation': 'Developer', 'salary': 800}

In [25]:
#create dic by extracting the keys by sample
sample_dict={'name':'kelly','age':25,'salary':8000,'city':'New york'}
#keys to extract
keys=['name','salary']

In [26]:
new_dict={k:sample_dict[k] for k in keys}
print(new_dict)

{'name': 'kelly', 'salary': 8000}

In [27]:
# using the update() method and loop
keys=['salary','name','age']
res1=dict()
for k in keys:
    res1.update({k:sample_dict[k]})
print(res1)

{'salary': 8000, 'name': 'kelly', 'age': 25}

In [28]:
# delete list of the keys from the dictionary

keys=["age","salary"]

# using pop method

for k in keys:
    sample_dict.pop(k)
print(sample_dict)

{'name': 'kelly', 'city': 'New york'}

In [29]:
# keys to remove
sample_dict={"name":"kelly","age":25,"salary":8000,"city":"New york"}\

keys=["name","salary"]
sample_dict={k:sample_dict[k] for k in sample_dict.keys()-keys}
print(sample_dict)

{'city': 'New york', 'age': 25}

In [30]:
#Check if a value exists in a dictionary

sample_dict={'a':100,"b":200,"c":300}
if 200 in sample_dict.values():
    print("200 is present in dict")

200 is present in dict

In [31]:
# rename keys of a dictonary
sample_dict={"name":"kelly","age":"25","salary":8000,"city":"NewYork"}

sample_dict['location']=sample_dict.pop("city")
print(sample_dict)

{'name': 'kelly', 'age': '25', 'salary': 8000, 'location': 'NewYork'}

In [32]:
# change the values of the keys in a nested dictonary

sample_dict={
    'emp1':{'name':'Jhon',"salary":7500},
    'emp2':{'name':'Emma','salary':8000},
    'emp3':{'name':'Brad','salary':500}}
             
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [33]:
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}