In [3]:
class Complex:
    def __init__(self,realpart,imagpart):
        self.r=realpart
        self.i=imagpart

In [4]:
x=Complex(3.0,-4.5)

In [5]:
x.r #realpart

3.0

In [6]:
x.i #imagepart

-4.5

-------------------------------------------------------------------------------

In [7]:
class Lion:
    kind="Canine"  #global var
    
    def __init__ (self,name):
        self.name=name  #instance variable

In [8]:
d=Lion("Frido")
e=Lion("Buddy")

In [9]:
d.kind  # kind is global var

'Canine'

In [10]:
d.name # calling instance

'Frido'

In [11]:
e.kind # calling global var

'Canine'

In [12]:
e.name # calling instance

'Buddy'

-------------------------------------------

In [20]:
class pet:
    #global variable
    kind="Animal"
    
    def __init__(self,name):
        
        self.name=name #instance created
        self.tricks=[] #creates a new empty list for each dog
        
    def add_trick(self,trick):
        self.tricks.append(trick)

In [21]:
d=pet('Fido')

In [22]:
# global variable

d.kind

'Animal'

In [24]:
d.name

'Fido'

In [25]:
#  in d adding self.tricks 
d.add_trick("roll over")

In [28]:
e=pet("Buddy")

In [29]:
# adding data in e instance

e.add_trick("Play dead")

In [32]:
# checking d 

d.tricks

['roll over']

In [33]:
# checking e instance  
e.tricks

['Play dead']

#__methord may call another methord attributes of the self argument

In [34]:
class Bag:
    def __init__(self):
        self.data=[]
        
    def add(self,x):
        self.data.append(x)
    
    def addtwice(self,x):
        self.add(x)
        self.add(x)

In [35]:
bg=Bag()

In [41]:
bg.add("Cricket") #in add parameter we added one

In [43]:
bg.addtwice("Cricket")
bg.data

['Cricket', 'Cricket', 'Cricket']

In [44]:
bg.addtwice("BaketBall")

In [45]:
bg.data

['Cricket', 'Cricket', 'Cricket', 'BaketBall', 'BaketBall']

__File input/output operations

In [58]:
file=open("workfile.txt","w") # make work file and in write mode

with open('workfile.txt') as file:
    read_data=file.read()

In [59]:
file

In [62]:
f = open('workfile.txt') # opening a file
lines = f.read() # reading a file
lines
'This is the first line. \nThis is the second line.\nThis is the third line.'

'This is the first line. \nThis is the second line.\nThis is the third line.'

In [63]:
f.close() # closing file object

In [64]:
# EXCEPTION HANDLING:

In [69]:
while True:
    try:
        x=int(input("Please enter a number : "))
        break
    except ValueError:
        print("oops! That was no valid number,try again")

Please enter a number :
oops! That was no valid number,try again
Please enter a number : 5

In [70]:
import math

In [71]:
math.cos(math.pi/4)

0.7071067811865476

In [72]:
math.log(1024,2)

10.0

In [73]:
import statistics

In [74]:
dat=[2.76,1.75,1.25,0.25,0.5,1.25,3.5]

In [75]:
statistics.mean(dat)

1.6085714285714285

In [76]:
statistics.median(dat)

1.25

In [84]:
#write a function to append the numbers 1 to 8 in a list using for loop inside it.

def function_append():
    s=[] #empty box for appened
    
    for i in range(1,9):
        s.append(i)
        print("s",i)
    return s

In [85]:
function_append()

s 1
s 2
s 3
s 4
s 5
s 6
s 7
s 8

[1, 2, 3, 4, 5, 6, 7, 8]

In [97]:
# Write a function to generate the table by using user input.

def table():
    p=int(input("Enter any number to genrate table :"))
    
    table=[]
    
    for i in range(1,11):
        table.append(p*i)
        
        print("Value",p ," * ", i ,"=",(p*i))
    return table

In [98]:
table()

Enter any number to genrate table :2
Value 2  *  1 = 2
Value 2  *  2 = 4
Value 2  *  3 = 6
Value 2  *  4 = 8
Value 2  *  5 = 10
Value 2  *  6 = 12
Value 2  *  7 = 14
Value 2  *  8 = 16
Value 2  *  9 = 18
Value 2  *  10 = 20

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [111]:
def Simple():
    p=int(input("Enter the Principle Amount "))
    r=int(input("Enter the rate "))
    t=int(input("Enter the time in year "))
    
    SI=p*r*t/100
    print("Simple Intrest = ",SI)

In [112]:
Simple()

Enter the Principle Amount 10
Enter the rate 20
Enter the time 1
Simple Intrest =  2.0

In [113]:
def si(p,r,t):
    
    sip=p*r*t
    return sip
p=int(input("enter value"))

r=int(input("enter value"))

t=int(input("enter value"))

si(p,r,t)    # wrong ans

enter value10
enter value20
enter value1

200

In [135]:
#Write a function to take user input and append the data in a list

def fun_a():
    
    list_1=[] # empty list
    
    n=int(input("Enter your desired number"))
    
    for i in range(0,n):
        list_1.append(i)
        print("Value inserted by loop =",i,"Number",n)
    return(list_1)

In [136]:
fun_a()

Enter your desired number5
Value inserted by loop = 0 Number 5
Value inserted by loop = 1 Number 5
Value inserted by loop = 2 Number 5
Value inserted by loop = 3 Number 5
Value inserted by loop = 4 Number 5

[0, 1, 2, 3, 4]