In [1]:
def square(x):
    """I am adding doc string named 'Square' """
    return x*x

In [2]:
print(square.__doc__)

I am adding doc string named 'Square'

In [3]:
print(square(2))

4

In [4]:
print(square(4))

16

In [5]:
def add_numbers(x,y):
    """ADD_Numbers"""
    sum=x+y
    return sum
num1=5
num2=6
print("The Sum is",add_numbers(num1,num2))

The Sum is 11

In [6]:
add_numbers.__doc__

'ADD_Numbers'

In [7]:
def greet(name,msg):
    """This Function greets to the person with the provided message"""
    print("Hello",name + ','+ msg)

In [8]:
greet.__doc__

'This Function greets to the person with the provided message'

In [9]:
greet("Andrew","Good Morning")

Hello Andrew,Good Morning

In [10]:
def absolute_value(num):
    """This function returns the absolute value of the entered Number"""
    if num>=0:
        return num
    else:
        return -num
print(absolute_value(2))
print(absolute_value(-4))

2
4

In [11]:
absolute_value.__doc__

'This function returns the absolute value of the entered Number'

In [12]:
def multiply(a,b):
    """Multiply two number"""
    multi=(a*b)
    print("Value of A ",a)
    print("Value of B ",b)
    print("\nValue after multication",multi)

In [13]:
print(multiply.__doc__)

Multiply two number

In [14]:
multiply(2,3)

Value of A  2
Value of B  3

Value after multication 6

In [15]:
#write a function division to calculate division of two numbers by taking as a arguments.

def my_divfun(a,b):
    """Division two number"""
    div=a/b
    return div

In [16]:
print(my_divfun.__doc__)
my_divfun(10,2)

Division two number

5.0

In [17]:
squares=list(map(lambda x:x**2,range(10)))
squares=[x**2 for x in range(10)]

In [18]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
# Write the above code to find cube of x.

seqs=[10,2,8,7,5,4,3,11,0,1]

filtered_data=list(map(lambda x:x*x,seqs))
print(filtered_data)

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

In [20]:
#wite the above code for the expression x**3

sq=[10,2,8,7,5,4,3,11,0,1]

filtered_result=list(map(lambda x:x**3,sq))

print(filtered_result)

[1000, 8, 512, 343, 125, 64, 27, 1331, 0, 1]

In [21]:
#sq greater than 4

sequences = [10,2,8,7,5,4,3,11,0, 1]

filtered_result = filter (lambda x: x > 4, sequences)
print(list(filtered_result))

[10, 8, 7, 5, 11]

In [22]:
# write the above code for the expression x>5.

sequences = [10,2,8,7,5,4,3,11,0, 1]

filtered_result = filter (lambda x: x > 5, sequences)
print(list(filtered_result))

[10, 8, 7, 11]

In [23]:
square=[]
for x in range(10):
    square.append(x**2)
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
def user_product(a,b):
    multify=a*b
    
    if multify<=1000:
        return multify
    else:
        return a+b ##product is greater than 1000 calculate sum

In [31]:
#first condition
result=user_product(20,30)
print(result)

600

In [32]:
#second condition
result=user_product(40,30)
print("The result is : ",result)

The result is :  70

In [33]:
#Check if the first and last number of a list is the same.

def first_last_same(numberlist):
    print("Given list:",numberlist)
    
    first_num =numberlist[0] #first number 0
    last_num =numberlist[-1] # secnd number -1(as unk)
    
    if first_num==last_num:
        return True
    else:
        return False

In [36]:
numbers_x=[10,20,30,40,10]

print("result is",first_last_same(numbers_x))

Given list: [10, 20, 30, 40, 10]
result is True

In [37]:
numbers_y=[75,65,35,75,30]

print("Result",first_last_same(numbers_y))

Given list: [75, 65, 35, 75, 30]
Result False