In [1]:
x=0

while(x<4):
    print(x)
    x=x+1

0
1
2
3

In [2]:
# program 1: Print first 10 natural numbers

i=1
while i<11:
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [3]:
for x in range(2,7):
    print(x)

2
3
4
5
6

In [4]:
Months = ["Jan","Feb","Mar","April","May","June"]

for m in Months:
    print(m)

Jan
Feb
Mar
April
May
June

In [7]:
# measure some strings:

words = ['cat', 'window', 'defenestrate']
#will print words
for w in words:
    print(w,end=" ")
    
# will print words
for w in words:
    print("\n",w,len(w),end=" ")

cat window defenestrate
 cat 3
 window 6
 defenestrate 12

In [8]:
range(5,10)

range(5, 10)

In [9]:
range(0,10,3)

range(0, 10, 3)

In [10]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
a = ['Mary', 'had', 'a', 'little', 'lamb']

for i in a:
    print(i,len(a))

Mary 5
had 5
a 5
little 5
lamb 5

In [12]:
# count of data inside a list

a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i)

0
1
2
3
4

In [14]:
x=8
y=4

if(x<y):
    st="X is less than Y"
else:
    st="X is greater then Y"
    
print(st)

X is greater then Y

In [15]:
x=int(input("Please enter an integer:"))

Please enter an integer:42

In [16]:
if x<0:
    x=0
    print("Negative changed to zero")
elif x==0:
    print("Zero")
elif x==1:
    print("Single")
else:
    print('More')

More

In [26]:
#Task :write a program using if-elif with different country value and total values

total=50
#country="US"
country="AU"
if country =="US":
    if total<=50:
        print("Shipping Cost is $50")
elif total<=100:
    print("Shipping cost is $25")
elif total<=150:
    print("Shipping cost is $5")
else:
    print("Free")

if country=="AU":
    if total<=50:
        print("Shipping Cost is $100")
    else:
        print("Free")

Shipping cost is $25
Shipping Cost is $100

In [25]:
total=100

#country = "US"

country = "AU"

if country == "US":
    if total <= 50:
        print("Shipping Cost is $50")

elif total <= 100:
    print("Shipping Cost is $25")

elif total <= 150:
    print("Shipping Costs $5")

else:
    print("FREE")

if country == "AU":
    if total <= 50:
        print("Shipping Cost is $100")
else:

     print("FREE")

Shipping Cost is $25

In [30]:
#Task : write a program to find even or odd using for loop /range function.

for e in range(2,20):
    if e%2==0:
        print("Found an even Number ",e)
        continue
        print("Found a number",e)

Found an even Number  2
Found an even Number  4
Found an even Number  6
Found an even Number  8
Found an even Number  10
Found an even Number  12
Found an even Number  14
Found an even Number  16
Found an even Number  18

In [32]:
#write two different loops for break if x is even number and continue when the number is divide by 5.

for x in range(0,20):
    if(x==5):
        break
    if(x%2==0):
        continue
    print(x)

1
3

In [34]:
for x in range(10,20):
    if(x==15):
        break
    if(x%5==0):
        continue
    print(x)

11
12
13
14

In [38]:
#Display numbers divisible by 5 from a list.Iterate the given list of numbers and print only those numbers which are divisible by 5.

num_list = [10, 20, 33, 46, 55]
print("Given List:",num_list)
print("Divisible by 5:")

for i in num_list:
    if i%5==0:
        print(i)

Given List: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

In [56]:
# Calculate the sum of all numbers from 1 to a given number
s=0
n=int(input("Enter number")) # run loop n times

# stop: n+1 (because range never include stop number in result)

for i in range(1,n+1,2):
    # add current number to sum variable
    s=s+i
    print(i)
    
print("\n")
print("SUM is: ",s)

Enter number4
1
3


SUM is:  4

In [57]:
# Write a program to print multiplication table of a given number

In [58]:
n=2

# stop: 11 (because range never include stop number in result)
# run loop 10 times

for i in range(1,11,1):
    product= n*i

In [59]:
print(product)

20

In [60]:
#Practice below codes for list comprehension
# create a new list with the values double
vec=[-4,-2,0,2,4]

[x*2 for x in vec]
#filter the list to exclude negative numbers

[x for x in vec if x>=0]
[abs(x) for  x in vec]

[4, 2, 0, 2, 4]

In [61]:
# call a method on each element

freshfruit = [' banana', ' loganberry ', 'passion fruit ']

[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [64]:
# create a list of 2-tuples like (number, square)

[(x, x**2) for x in range(6)]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [67]:
#To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while

#leaving the source unaltered.

basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear