In [1]:
import sqlite3

In [2]:
conn=sqlite3.connect("Employee_Assignment.db")

In [5]:
cur=conn.cursor()

In [6]:
conn.execute("Create Table Employees(ID int primary key,Name text,Age int,Address char(20),salary real)")

In [7]:
conn.execute("Insert into Employees(ID,Name,Age,Address,salary) values(1,'Ajeet',27,'Delhi',20000.00)")

In [9]:
conn.execute("insert into Employees values(2,'Allen',22,'London',25000),(3,'Marks',29,'CA',200000),('4','Kanchan',22,'Ghaziabad',65000)")

In [10]:
conn.commit()

In [11]:
result=cur.execute("Select * from Employees")

In [12]:
for i in result:
    print(i)

(1, 'Ajeet', 27, 'Delhi', 20000.0)
(2, 'Allen', 22, 'London', 25000.0)
(3, 'Marks', 29, 'CA', 200000.0)
(4, 'Kanchan', 22, 'Ghaziabad', 65000.0)

In [13]:
cur.execute("update Employees set Name='Abhijit' where ID is 2 ")

In [15]:
conn.commit()

In [16]:
result=cur.execute("Select * from Employees")

In [17]:
result.fetchall()

[(1, 'Ajeet', 27, 'Delhi', 20000.0),
 (2, 'Abhijit', 22, 'London', 25000.0),
 (3, 'Marks', 29, 'CA', 200000.0),
 (4, 'Kanchan', 22, 'Ghaziabad', 65000.0)]

In [21]:
conn.execute("Delete from Employees where Name is 'Abhijit' ")

In [22]:
conn.commit()

In [23]:
result=cur.execute("Select * from Employees")
result.fetchall()

[(1, 'Ajeet', 27, 'Delhi', 20000.0),
 (3, 'Marks', 29, 'CA', 200000.0),
 (4, 'Kanchan', 22, 'Ghaziabad', 65000.0)]