# DATA STRUCTURE

In [2]:
# dictonary consist of two value 1. Key  2. Value

#curly brackets are used for dictionary {Key1:value1}

DICTIONARY

In [3]:
#FORMAT OF WRITING

#mydict={Key1:value1,key2:value2, key3:value3,key4:value4}

In [4]:
mydict={"Emp1":101,"Name":"Abhijit Sarkar","Dept":"Sales"}

In [5]:
mydict

{'Emp1': 101, 'Name': 'Abhijit Sarkar', 'Dept': 'Sales'}

In [6]:
mydict["Emp1"]

101

In [7]:
mydict["Name"]

'Abhijit Sarkar'

In [8]:
mydict["Dept"]

'Sales'

In [10]:
mydict["Dept"]="Marketing"

In [11]:
mydict

{'Emp1': 101, 'Name': 'Abhijit Sarkar', 'Dept': 'Marketing'}

In [12]:
# Shows only keys,

mydict.keys()

dict_keys(['Emp1', 'Name', 'Dept'])

In [13]:
# Shows only Values

mydict.values()

dict_values([101, 'Abhijit Sarkar', 'Marketing'])

In [14]:
# Shows keys and values

mydict.items()

dict_items([('Emp1', 101), ('Name', 'Abhijit Sarkar'), ('Dept', 'Marketing')])

In [63]:
mydict

{'Emp1': 101, 'Name': 'Abhijit Sarkar', 'Dept': 'Marketing', 'Age': 10}

In [64]:
mydict.pop("Age")

10

In [65]:
 mydict

{'Emp1': 101, 'Name': 'Abhijit Sarkar', 'Dept': 'Marketing'}

---------------------------------

In [15]:
mydict1={"Name":"Zara","Class":"First", "Age": 7}

In [16]:
mydict1

{'Name': 'Zara', 'Class': 'First', 'Age': 7}

In [17]:
mydict1["Name"]

'Zara'

In [18]:
mydict1["Class"]

'First'

In [19]:
mydict1["Age"]

7

In [24]:
mydict1.keys()

dict_keys(['Name', 'Class', 'Age'])

In [25]:
mydict1.values()

dict_values(['Zara', 'First', 7])

In [26]:
mydict1.items()

dict_items([('Name', 'Zara'), ('Class', 'First'), ('Age', 7)])

In [30]:
mydict1["Age"]=10

In [31]:
mydict1

{'Name': 'Zara', 'Class': 'First', 'Age': 10}

In [36]:
len(mydict1)

3

In [39]:
print("Name found to be  :",mydict1["Name"])

Name found to be  : Zara

In [40]:
print("Age found to be :", mydict1["Age"])

Age found to be : 10

In [41]:
mydict1

{'Name': 'Zara', 'Class': 'First', 'Age': 10}

In [47]:
print("Name of kid :",mydict1["Name"],"of Class :",mydict1["Class"],"Age: ",mydict1["Age"])

Name of kid : Zara of Class : First Age :  10

In [48]:
# Updating or adding new data to dictionary

mydict1.update({"Fees":5000})

In [49]:
mydict1

{'Name': 'Zara', 'Class': 'First', 'Age': 10, 'Fees': 5000}

In [51]:
# changing the value's with key's

mydict1["Fees"]=9500

In [52]:
mydict1

{'Name': 'Zara', 'Class': 'First', 'Age': 10, 'Fees': 9500}

In [53]:
print(mydict1)

{'Name': 'Zara', 'Class': 'First', 'Age': 10, 'Fees': 9500}

--------------------------------------------------------

In [55]:
colordict={"rock":"brown","trees":"green","apple":"red","banana":"yellow"}

In [56]:
colordict

{'rock': 'brown', 'trees': 'green', 'apple': 'red', 'banana': 'yellow'}

In [57]:
print(colordict)

{'rock': 'brown', 'trees': 'green', 'apple': 'red', 'banana': 'yellow'}

In [58]:
colordict.keys()

dict_keys(['rock', 'trees', 'apple', 'banana'])

In [60]:
colordict.values()

dict_values(['brown', 'green', 'red', 'yellow'])

In [62]:
colordict.items()

dict_items([('rock', 'brown'), ('trees', 'green'), ('apple', 'red'), ('banana', 'yellow')])

In [66]:
newdict={10:"C++", 20:"Java",30:"python",40:"Ruby",}

In [67]:
newdict

{10: 'C++', 20: 'Java', 30: 'python', 40: 'Ruby'}

In [68]:
newdict.keys()

dict_keys([10, 20, 30, 40])

In [69]:
newdict.values()

dict_values(['C++', 'Java', 'python', 'Ruby'])

In [70]:
newdict.items()

dict_items([(10, 'C++'), (20, 'Java'), (30, 'python'), (40, 'Ruby')])

In [71]:
newdict

{10: 'C++', 20: 'Java', 30: 'python', 40: 'Ruby'}

In [72]:
# adding new value's and key's indictionary

newdict.update({50:"Rails"})

In [73]:
# printing dictionary

print(newdict)

{10: 'C++', 20: 'Java', 30: 'python', 40: 'Ruby', 50: 'Rails'}

In [74]:
# changing the value by key

newdict[40]="C Sharp"

In [75]:
newdict

{10: 'C++', 20: 'Java', 30: 'python', 40: 'C Sharp', 50: 'Rails'}

In [76]:
len(newdict)

5

In [77]:
# deleting a key with value

del newdict[50]

In [78]:
print(newdict)

{10: 'C++', 20: 'Java', 30: 'python', 40: 'C Sharp'}

In [79]:
len(newdict)

4

In [81]:
# deleting a key with pop methord

newdict.pop(30)

'python'

In [82]:
len(newdict)

3

In [83]:
print(newdict)

{10: 'C++', 20: 'Java', 40: 'C Sharp'}

In [84]:
newdict.items()

dict_items([(10, 'C++'), (20, 'Java'), (40, 'C Sharp')])

------------------------------------------

CREATING DICTIONARY WITH MULTIPLE VALUES

In [86]:
dict2={'id':[1,2,3],'name':["jack","jill","Andrew"],"grade":["First","Second","Third"]}

In [87]:
print(dict2)

{'id': [1, 2, 3], 'name': ['jack', 'jill', 'Andrew'], 'grade': ['First', 'Second', 'Third']}

In [89]:
newdict2={1:["red","green","Blue"],2:["White","Pink","Purple"],3:["Brown","Yellow","light Green"]}
print(newdict2)

{1: ['red', 'green', 'Blue'], 2: ['White', 'Pink', 'Purple'], 3: ['Brown', 'Yellow', 'light Green']}

In [90]:
newdict2.keys()

dict_keys([1, 2, 3])

In [91]:
newdict2.values()

dict_values([['red', 'green', 'Blue'], ['White', 'Pink', 'Purple'], ['Brown', 'Yellow', 'light Green']])

In [92]:
newdict2.items()

dict_items([(1, ['red', 'green', 'Blue']), (2, ['White', 'Pink', 'Purple']), (3, ['Brown', 'Yellow', 'light Green'])])

In [95]:
# clear Dictionary

newdict2.clear()

In [96]:
newdict2

{}

In [97]:
# delete dictionary

del newdict2

In [98]:
newdict2

NameError: name 'newdict2' is not defined

# SETS

In [100]:
# SET WILL NOT ALLOW ANY DUPLICATE VALUES

# IT DOESNOT HAVE ANY INDEXING

# IMMUTABLE

In [101]:
X=(22,23,24,35,90)
X

(22, 23, 24, 35, 90)

In [102]:
Y=(42,43,44,45,46,47)
Y

(42, 43, 44, 45, 46, 47)

In [103]:
days={"monday","tuesday","Thursday","Wednusday"}
days

{'Thursday', 'Wednusday', 'monday', 'tuesday'}

In [105]:
days.add("Sunday")

days

{'Sunday', 'Thursday', 'Wednusday', 'monday', 'tuesday'}

In [106]:
#No indexing

days[0]

TypeError: 'set' object is not subscriptable

In [107]:
#Removing item on sets

days.remove("Sunday")

In [108]:
#days.pop() will remove any item as no intexing

days.pop()

'Thursday'

In [109]:
days

{'Wednusday', 'monday', 'tuesday'}

In [111]:
days.clear()

In [112]:
days

set()

In [113]:
del days

In [114]:
days

NameError: name 'days' is not defined

-------------------------------------------------------------------------------

REVISION

In [115]:
#FOR ADDING LIST.APPEND(VALUE)

In [116]:
#LIST.INSERT(INDEX NO,"VALUE")

In [117]:
#LIST.EXTEND(VALUE,VALUE)

In [118]:
# ASSENDING ORDER ARRAGEMENT   LIST.SORT()

In [119]:
# DECENDING ORDER ARRENGEMENT  LIST.REVERSE()

In [120]:
# DELETE FROM BACK             LIST.POP()

In [121]:
# DELETE FROM INDEX            LIST.POP(INDEX NUMBER)

In [122]:
# REMOVE      LIST.REMOVE(NAME OF ITEM TO BE REMOVED)

In [123]:
# CLEAR       LIST.CLEAR()

In [124]:
# DELETE       DEL LIST

----------------------------------------