In [1]:
8+4

12

In [2]:
16*5

80

In [3]:
50-5*6

20

In [4]:
(50-5*6)

20

In [5]:
(50-5*6)/4

5.0

In [7]:
#Now Write Comment
# This is my First program
# It prints the phrase "Hello, World"
# The comments are longer than the code!

In [8]:
greeeting="Hello world of Python"
print("Greetings")

Greetings

In [9]:
# division always return a floating value
8/5

1.6

In [10]:
# classic division returns a float
17/3

5.666666666666667

In [11]:
# floor division discards the fractional part
17//3

5

In [12]:
# the % operator returns the remainder of the division

17%3

2

In [13]:
# result * divisor+ remainder

5*3+2

17

In [14]:
# 5 squared
5**2

25

In [15]:
#2 to the power of 7
2**7

128

In [16]:
width=20
height=5*9
width*height
print(width)

#use single quote
print('The value of width=',width)

# use double quote
print("The value of width is=",width)

print("Value =",width*height)

20
The value of width= 20
The value of width is= 20
Value = 900

In [17]:
# Task: Now try to print height yourself
print("Height",height)
print("The value of height is =",width)

Height 45
The value of height is = 20

In [18]:
tax=12.5/100
price=100.50
price*tax

# try to print tax and price yourself

print("Tax",tax)
print("Price",price)
print("Value Stands",price*tax)

Tax 0.125
Price 100.5
Value Stands 12.5625

In [21]:
# String concatenation:

"The "+"Sun"

'The Sun'

In [22]:
'The '+' Moon'

'The  Moon'

In [23]:
"Planets"+" Universe"

'Planets Universe'

In [25]:
string1="Elon"
string2="Mask"
magic_string=string1+string2

In [26]:
magic_string

'ElonMask'

In [27]:
#  Make variable firstname and lastname and concate them with space:
first_name="Arthur"
last_name="Dent"

fullname=first_name+" "+last_name
fullname

'Arthur Dent'

### Task

In [29]:
# Create two strings,concate them, and print the resulting string

f="Hello"
l="World"
fl=f+" "+l
print(fl)

Hello World

In [30]:
# Create two strings, use concatenation to add a space between them, and print the result.

first_n="Welcome"
secnd="On Board"

fir_sec=first_n+" "+secnd

print("Word Stands",fir_sec)

Word Stands Welcome On Board

In [31]:
#user Input
prompt=" Hey,What's up?"

user_input=input(prompt)
print(" You said: "+ user_input)

 Hey,What's up?Abhijit
 You said: Abhijit

In [40]:
# Take user input and make twice of that number:
promt=" Hello Please ENTER a number which needs to be doubled "
user_input=int(input(promt))
print("You said Input as ",user_input, "\nResult is",user_input*user_input)

 Hello Please ENTER a number which needs to be doubled 3
You said Input as  3
Result is 9

In [41]:
# Take user input and make twicw of that number 

num=input("Enter a number to be doubled: ")
doubled_num=num*2
print(doubled_num)

Enter a number to be doubled: 3
33

In [43]:
#Take user input and make twice of that number and typecast it to float.

num= input("Enter a number to be doubled: ")
doubled_num= float(num)*2
print(doubled_num)

Enter a number to be doubled: 2
4.0

In [45]:
# Task: Write a program that uses input() twice to get two numbers from the user, Multiplies the number together and displays the result.

user1=float(input("Enter First number for multiplication "))
user2=float(input("Enter Second number for multiplication "))

print("RESULT OF MULTIPLICATION ",user1*user2)

Enter First number for multiplication 2
Enter Second number for multiplication 4
RESULT OF MULTIPLICATION  8.0

In [50]:
# Calculate simple Intrest by taking user input for principle, rate and time
P=int(input("Enter Principle Amount"))
R=float(input("Enter Rate "))
T=float(input("Enter Time "))
SI = (P * R * T)/100

print("Simple Intrest Stands ",SI)

Enter Principle Amount100
Enter Rate 12
Enter Time 1
Simple Intrest Stands  12.0

In [54]:
Amount=(P+SI)
Amount

112.0

In [55]:
p=5000
t=3
r=3.5 
si=p*r*t
si

52500.0

# Find Length

In [56]:
len("abc")

3

In [57]:
letters="abc"
len(letters)

3

In [58]:
# Create a string and print its length using len()

name="Abhijit Sarkar"
len(name)

14

### What is a Jupiter notebook?

- Jupiter is a open web source application, Here codes can be written and   shared and Its a part of anaconda, its supports python.

### How do you add a new code cell below an existing cell?

- By Run
- By insert new cell
- Esc+B

### How do you add a new Markdown cell below an existing cell?

- Ctrl+M

### How do you convert a code cell to a Markdown cell or vice versa?
- Esc+m
- Esc+y

### How do you execute a code cell within Jupyter?
- Shift+Enter

### What the different arithmetic operations supported in Python?

- +
- -
- *
- /

### How do you perform arithmetic operations using Python?

- By using Variable
- By using input finction

### What is the difference between the / and the // operators?

- / division will give float value
- // division will give int values

### What is the difference between the * and the ** operators?

- (*) used for Multiplication
- (**) used for Sq root

#### What is the order of precedence for arithmetic operators in Python?

- exponentiation is performed first (when available), multiplication and division are performed next, addition and subtraction are performed last.

#### How do you specify the order in which arithmetic operations are performed in an expression involving multiple operators?

According to the PEMDAS rule, 

- Parenthesis
- Exponent
- Multiplication
- Division
- Addition
- Substraction

### How do you solve a multi-step arithmetic word problem using Python?

Examples

Let the numbers be a and b. Now, as per the situation,

a + b = 40……………………(i)

and a – b = 20………………(ii)

We can write, a = 40 – b, from equation .(i),

no put the value of a in equation(ii), we get,

40 – b – b = 20

40 – 2b = 20

2b = 40 – 20 = 20

b = 20/2 = 10

b = 10

and a = 40 – b

= 40 – 10

a = 30

Therefore, the two numbers are 30 and 10.



q= 2a – 5(24 ÷ 6) – 10 × 2 = 24

2a – 5(24 ÷ 6) – 10 x 2 = 24

=> 2a – 5 (4) – 10x 2 = 24

=> 2a – 20 – 10×2 = 24

=> 2a – 20 – 20 = 24

=> 2a – 40 = 24

=> 2a = 24 + 40

=> 2a = 64

=> a = 32

therefore the value of a is 32

### What are variables? Why are they useful?

- A variable is a dynamic value that the operating system, Variable are used like a container to store string or int or float.

### How do you create a variable in Python?

- Just assign a name and add values with = operator

###  What is the assignment operator in Python?

- (+=) Add and Assign: Add right side operand with left side operand and then assign to left operand	
  a += b
  
- (-=) Subtract AND: Subtract right operand from left operand and then assign to left operand: True if both operands are equal
  a-=b
 
- (*=) Multiply AND: Multiply right operand with left operand and then assign to left operand	a *= b   

-

### What are the rules for naming a variable in Python?

- Variable can start with a letter or underscore
- Variable number can't start with number
- Variable can contain(a_z,A_Z,0 to 9 and _)
- Variable name is case sensitive

### How do you view the value of a variable?

- Place the variable name and run the cell

### How do you store the result of an arithmetic expression in a variable?

- To store the variable the equal (=) operator is used

### What happens if you try to access a variable that has not been defined?

- Will output that the variable i not defined

### How do you display messages in Python?

- We can use print option to print the data with a string inside written in double codes

### What type of inputs can the print function accept?

- print function can print message, values can be assigned, Seperators, '\n' to end

Examples:
- print(value(s), sep= ' ', end = '\n', file=file, flush=flush)

Parameters: 

- value(s): Any value, and as many as you like. Will be converted to a string before printed
- sep=’separator’ : (Optional) Specify how to separate the objects, if there is more than one.Default :’ ‘
- end=’end’: (Optional) Specify what to print at the end.Default : ‘\n’
- file : (Optional) An object with a write method. Default :sys.stdout
- flush : (Optional) A Boolean, specifying if the output is flushed (True) or -  - buffered (False). Default: False

### What are code comments? How are they useful?

- It doesn't affect the program, This is used to share a message, single quote and double quote is used

### What are the different ways of creating comments in Python code?

- "" single double
- """ """ Double quotes are used for sentence comments

### What are the different comparison operations supported in Python?

Python has six comparison operators, which are as follows:

- Less than ( < )
- Less than or equal to ( <=)
- Greater than ( >)
- Greater than or equal to ( >=)
- Equal to ( == )

### What is the result of a comparison operation?

- True and False

### What is the difference between = and == in Python?

- Single = is used to assign values
- Double = is used to compare the assigned data

### What are the logical operators supported in Python?

- And
- Are
- NOt

### What is the difference between the and and or operators?

1. And operator Both has be True, One False and one True is False
2. Or Operator - One has to be True, One False One True, RESULT= True

### Can you use comparison and logical operators in the same expression?

- Yes we can use comparison and Logical Operator in the same expression

### What is the purpose of using parentheses in arithmetic or logical expressions?

- Using Parentheses We can control the order of execution by using parentheses in our expressions.

### What is Markdown? Why is it useful? 

-  Markdown is a plain text formatting syntax aimed at making writing for the internet easier. The philosophy behind Markdown is that plain text documents should be readable without tags

# Exercise:

A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [62]:
Amount= 5000
count= 29
cost=200

Total_Outcome= 200*29
profit=(Total_Outcome-Amount)
print(profit)

800

In [65]:
Plane_cost=5000
total_signups=29
ticket_cost=200
amount_recieved= total_signups*ticket_cost
print("Amount Received",amount_recieved)
prof=(amount_recieved-Plane_cost)
print(prof)

Amount Received 5800
800