# String Functions

In [1]:
name="Tesla"
name.lower()

'tesla'

In [2]:
name.upper()

'TESLA'

In [3]:
len(name)
# no indexing

5

In [4]:
name.capitalize()

'Tesla'

In [5]:
name.isalpha()

True

In [7]:
startship="Enterprise"
startship.startswith("en")

False

In [9]:
startship.startswith("En")

True

In [10]:
startship.endswith("ise")

True

# Replace

In [11]:
# str.replace(old,new)

In [12]:
string="Welcome Sir "

In [13]:
# original string
print(string)

Welcome Sir

In [14]:
# with  two parameters

print(string.replace("Welcome","GoodBye"))

GoodBye Sir

In [15]:
txt="I like bananas"
x=txt.replace("bananas","apple")
print(x)

I like apple

In [16]:
print(txt)

I like bananas

In [20]:
phrase="the surprise is in here somewhere"
phrase.find("the")

0

In [22]:
phrase.find("is")

9

In [23]:
phrase.find("surprise")

4

In [24]:
text="Hello World DataTrained"

# Splits at space

In [25]:
print(text.split())

['Hello', 'World', 'DataTrained']

In [30]:
text.split(" ")[2]

'DataTrained'

In [34]:
# splits at",
print(text.split(","))

['Hello World DataTrained']

In [35]:
print(text.split(":"))

['Hello World DataTrained']

# Task:

In [42]:
#2 Write a program that converts the following strings to lowercase:

# Print each lowercase string on a separate line.
list1=["Animals", "Badger", "Honey Bee", "Honey Badger"]

for i in list1:
    l=i.lower()
    print(l,"\n")

animals

badger

honey bee

honey badger

In [45]:
#2 Write a program that prints out the result of .startswith("be") on each of the following strings:
string1 = "Becomes"

string2 = "becomes"

string3 = "BEAR"

string4 = " bEautiful"

list2=[string1,string2,string3,string4]

for i in list2:
    if i.startswith("be"):
        print(i)

becomes

Q3. Using the same four strings from above, write a program that uses string methods to alter each string so that .startswith("be") returns True for all of them

In [54]:
c=[ i.lower() for i in list2]
c

['becomes', 'becomes', 'bear', ' beautiful']

In [57]:
for i in list2:
    i=i.lower()
    if i.startswith("be"):
        print(i)

becomes
becomes
bear

In [58]:
#4 Write a program that takes input from the user and displays that input back.

user=input("Enter Your Name ")
print(user)

Enter Your Name Abhijit Sarkar
Abhijit Sarkar

In [60]:
#5 Write a program that takes input from the user and displays the input in lowercase.
user=input("Hello World Enter your Place of birth ")
print(user.lower())

Hello World Enter your Place of birth West Bengal
west bengal

In [61]:
#6 Write a program that takes input from the user and displays the number of characters/len in the input.

user=input("Enter the Name ")
print(len(user))

Enter the Name Data Trained
12

---------------