## Q1 Convert two lists into a Dictonary

In [1]:
keys=['Ten','Twenty','Thirty']
values=[10,20,30]

In [3]:
res_dict =dict(zip(keys,values))
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

#### solution2

In [5]:
#empty dict
res_dict=dict()
res_dict

{}

In [6]:
for i in range(len(keys)):
    res_dict.update({keys[i]:values[i]})
    
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### Exercise 2: Merge two Python Dictionaries into one

In [7]:
#dic1
dict1={'Ten':10,"Twenty":20,"Thirty":30}
#dic2
dict2={"Thirty":30,"Fourty":40,"Fifty":50}

In [8]:
dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### Exercise 3, Initialization dictionary with default values:

In [9]:
#Given:
employees=['Kelly','Emma']
defaults={'designation':'developer','Salary':8000}

In [10]:
res=dict.fromkeys(employees,defaults)
print(res)

{'Kelly': {'designation': 'developer', 'Salary': 8000}, 'Emma': {'designation': 'developer', 'Salary': 8000}}

In [12]:
#individual data
print(res['Kelly'])

{'designation': 'developer', 'Salary': 8000}

In [13]:
print(res['Emma'])

{'designation': 'developer', 'Salary': 8000}

### Exercise 4. Create a dictonary by extracting the keys from a given dictonary

In [14]:
#given dictionary
sample_dict={"name":"Kelly","age":25,"salary":8000,"city":"Newyork"}

In [17]:
#key to extract keys=['name','salary']
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'Newyork'}

In [ ]:
#solution1:
Expected output:{'name':'Kelly','salary':8000}

In [19]:
keys=["name", "salary"]
newDict={k:sample_dict[k]for k in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}

Solution2:

In [20]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'Newyork'}

In [24]:
#keys to extract
res=dict()
keys=['name','age','salary']

for k in keys:
    res.update({k:sample_dict[k]})
    
print(res)

{'name': 'Kelly', 'age': 25, 'salary': 8000}

### Exercise 5: Delete a list of keys from a dictonary

In [25]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'Newyork'}

In [26]:
#keys to remove
keys=['name','salary']

#solution 1
for k in keys:
    sample_dict.pop(k)
print(sample_dict)

{'age': 25, 'city': 'Newyork'}

In [27]:
# solution 2
#given dictionary
sample_dict={"name":"Kelly","age":25,"salary":8000,"city":"Newyork"}

In [28]:
keys=['name','salary']
sample_dict={k:sample_dict[k]for k in sample_dict.keys()-keys}
print(sample_dict)

{'city': 'Newyork', 'age': 25}

### Exercise 6: Check if a value exists in a dictonary

In [29]:
sample_dict={'a':100,"b":200,"c":300}

if 200 in sample_dict.values():
    print("200 present in the dict")

200 present in the dict

### Exercise 7 : Rename key of a dictionary

In [30]:
#Write a program to rename key city to a location in the dictonary

#given dictionary
sample_dict={"name":"Kelly","age":25,"salary":8000,"city":"Newyork"}

In [31]:
sample_dict['location']=sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'Newyork'}

### Exercise 8: Change values of a key in a nested dictonary

In [34]:
sample_dict={'emp1':{'name':'Jhon','salary':7500},
            'emp2':{'name':'Emma','salary':8000},
            'emp3':{'name':'Brand','salary':500}}

In [35]:
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brand', 'salary': 500}}

In [36]:
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brand', 'salary': 8500}}

In [3]:
a= {'Mercury': 100, 'Venus': 200, 'Earth': 300}
b={'Star': 500, 'Moon': 600, 'Sun': 700} 
values=list(a.values())
keys=list(b.keys())
res_dict =dict(zip(keys,values))
print(res_dict)

In [6]:
values=list(a.values())
values

[100, 200, 300, 500, 600, 700]

In [8]:
keys=list(b.keys())
keys

['Star', 'Moon', 'Sun']

In [9]:
res_dict =dict(zip(keys,values))
print(res_dict)

{'Star': 100, 'Moon': 200, 'Sun': 300}

In [10]:
MarksDict = {

  'Chemistry': 81,

  'Physics': 98,

  'Maths': 78

}

max_key = max(MarksDict, key=MarksDict.get)
print(max_key)

Physics

In [ ]:
class container

In [12]:
def container():
    r=float(input("Enter the radius of circle"))
    h=float(input("Enter the height of a circle"))
    con=(3.14*r*h)
    print("Height of container ",h)
    print("Radius of container ",r)
    print("Container",con)
    
container()

Enter the radius of circle2
Enter the height of a circle2
Height of container  2.0
Radius of container  2.0
Container 12.56

In [ ]:
def display1():
    count = 0
    file = open("INDIA.TXT","r")
    for LINE in file:
        Words = LINE.split()
        for W in Words:
            if W == "India":
                count = count + 1
    print (count)
    file.close()

In [ ]:
# list of numbers
list1 = [13, -11, 10, 5, 9, -54]
 
# iterating each number in list
for num in list1:
 
    # checking condition
    if num < 0:
    print(num, end=" ")

In [13]:
class CONTAINER:

    def __init__(self, radius, height):
        self.radius = radius
        self.height = height

    def CalVolume(self):
        return 3.14 * self.radius * self.height

    def GetValue(self):
        self.radius = int(input("Enter the radius : "))
        self.height = int(input("Enter the height : "))
        return self.CalVolume()

    def ShowContainer(self):
        print("Radius of container : ", self.radius)
        print("Height of container : ", self.height)
        print("Volume of container : ", self.CalVolume())

In [15]:
keys=['Ten','Twenty','Thirty']
values=[10,20,30]

res_dict=dict(zip(keys,values))
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [16]:
# Q2. Using a loop and update() method of a dictionary

keys=['Ten','Twenty','Thirty']
values=[10,20,30]

#empty dictionary
res_dict=dict()

for i in range(len(keys)):
    res_dict.update({keys[i]:values[i]})
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### Exercise 2: Merge two Python dictionaries into one

In [18]:
dict1={"Ten ":10,"Twenty ":20,"Thirty ":30}
dict2={"Thirty ":30,"Fourty ":40,"Fifty ":50}

#Expected output:

#{"Ten":10,"Twenty":20,"Thirty":30,"Fourty":40,"Fifty":50}

dict3=dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten ': 10, 'Twenty ': 20, 'Thirty ': 30, 'Fourty ': 40, 'Fifty ': 50}

### Exercise 3: Initialize dictionary with default values

In Python, we can initize the keys with the same.

Values.employees  ['Kelly','Emma']
defaults={"designation ":'Developer',"salary":8000}

In [19]:
#Solution
employees =['Kelly','Emma']
defaults={"designation":'Developer',"Salary":8000}

res=dict.fromkeys(employees,defaults)
print(res)

#Individual data
print(res["Kelly"])

{'Kelly': {'designation': 'Developer', 'Salary': 8000}, 'Emma': {'designation': 'Developer', 'Salary': 8000}}
{'designation': 'Developer', 'Salary': 8000}

### Exercise 4: Create a dictionary by extracting the keys from a given dictionary.

Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary

In [ ]:
sample_dict={"Name":"Kelly","Age":25,"Salary":8000,"city":"New york"}

#keys to extract.
keys=['name','salary']

#new dict

res=dict()

for k in ke