# Python Variables
Variable is a name that is used to refer to memory location. Python variable is also known as an identifier and used to hold value. In Python, we don't need to specify the type of variable because Python is a infer language and smart enough to get variable type. Variable names can be a group of both the letters and digits, but they have to begin with a letter or an underscore. It is recommended to use lowercase letters for the variable name. Rahul and rahul both are two different variables.

# Identifier Naming
Variables are the example of identifiers. An Identifier is used to identify the literals used in the program. The rules to name an identifier are given below.

The first character of the variable must be an alphabet or underscore ( _ ).

All the characters except the first character may be an alphabet of

lower-case(a-z),
upper-case (A-Z),
underscore, or
digit (0-9).
Identifier name must not contain any white-space, or special character (!, @, #, %, ^, &, *).

Identifier name must not be similar to any keyword defined in the language.

Identifier names are case sensitive; for example, my name, and MyName is not the same.

Examples of valid identifiers: a123, _n, n_9, etc.

Examples of invalid identifiers: 1a, n%4, n 9, etc.

# Declaring Variable and Assigning Values

Python does not bind us to declare a variable before using it in the application. It allows us to create a variable at the required time. We don't need to declare explicitly variable in Python. When we assign any value to the variable, that variable is declared automatically. The equal (=) operator is used to assign value to a variable.

In [1]:
a=1
b="string"
c=1.1

In [2]:
print(a)
print(b)
print(c)

1
string
1.1

# Object References
It is necessary to understand how the Python interpreter works when we declare a variable. The process of treating variables is somewhat different from many other programming languages.

Python is the highly object-oriented programming language; that's why every data item belongs to a specific type of class. Consider the following example.

In [3]:
print("Ram")

Ram

In [4]:
type("Ram")

str

In Python, variables are a symbolic name that is a reference or pointer to an object. The variables are used to denote objects by that name.

Let's understand the following example

In [5]:
a=50

In [6]:
b=a
print(id(a))
print(id(b))

2870862901072
2870862901072

In [7]:
# Re-assigned variable a
a=500
print(id(a))

2870949811088

# Variable Name

Variable names can be any length can have

- uppercase,
- lowercase (A to Z, a to z),
- the digit (0-9), and
- underscore character(_).

Consider the following example of valid variables names.

In [8]:
name= "Data Trained"
age=20
marks=80.5

print(name)
print(age)
print(marks)

Data Trained
20
80.5

# Declaring Variables
The variable name should be descriptive to make code more readable.

The multi-word keywords can be created by the following method.

- Camel Case - In the camel case, each word or abbreviation in the middle of begins with a capital letter. There is no intervention of whitespace. For example - nameOfStudent, valueOfVaraible, etc.
- Pascal Case - It is the same as the Camel Case, but here the first word is also capital. For example - NameOfStudent, etc.
- Snake Case - In the snake case, Words are separated by the underscore. For example - name_of_student, etc.

# Multiple Assignment

Python allows us to assign a value to multiple variables in a single statement, which is also known as multiple assignments. We can apply multiple assignments in two ways, either by assigning a single value to multiple variables or assigning multiple values to multiple variables.

Consider the following example.

In [9]:
x=y=z=50

print(x)
print(y)
print(z)

50
50
50

In [10]:
# Assigning multiple values to multiple variable

a,b,c=5,10,15

print(a)
print(b)
print(c)

5
10
15

# Python Data Types
Variables can hold values, and every value has a data-type. Python is a dynamically typed language; hence we do not need to define the type of the variable while declaring it. The interpreter implicitly binds the value with its type.

In [11]:
a=5

The variable a holds integer value five and we did not define its type. Python interpreter will automatically interpret variables a as an integer type.

Python enables us to check the type of the variable used in the program. Python provides us the type() function, which returns the type of the variable passed.

Consider the following example to define the values of different data types and checking its type.

In [12]:
a=10
b="Hi Python"
c= 10.5

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

# Standard data types
A variable can hold different types of values. For example, a person's name must be stored as a string whereas its id must be stored as an integer.Python provides various standard data types that define the storage method on each of them.

The data types defined in Python are given below.

### Numbers
Sequence Type
Boolean
Set
Dictionary
Numbers
Number stores numeric values. The integer, float, and complex values belong to a Python Numbers data-type. Python provides the type() function to know the data-type of the variable. Similarly, the isinstance() function is used to check an object belongs to a particular class.

### Python supports three types of numeric data.

- Int - Integer value can be any length such as integers 10, 2, 29, -20, -150 etc. Python has no restriction on the length of an integer. Its value belongs to int
- Float - Float is used to store floating-point numbers like 1.9, 9.902, 15.2, etc. It is accurate upto 15 decimal points.
- complex - A complex number contains an ordered pair, i.e., x + iy where x and y denote the real and imaginary parts, respectively. The complex numbers like 2.14j, 2.0 + 2.3j, etc.

Python creates Number objects when a number is assigned to a variable. For example;

In [13]:
a=5
print("The type a ",type(a))

b=40.5
print("The type b ",type(b))

c=1+3j
print("The type c ",type(c))

The type a  <class 'int'>
The type b  <class 'float'>
The type c  <class 'complex'>

# Sequence Type
### String
- The string can be defined as the sequence of characters represented in the quotation marks. In Python, we can use single, double, or triple quotes to define a string.

- String handling in Python is a straightforward task since Python provides built-in functions and operators to perform operations in the string.

- In the case of string handling, the operator + is used to concatenate two strings as the operation "hello"+" python" returns "hello python".

- The operator * is known as a repetition operator as the operation "Python"*2 returns 'Python Python'.

In [14]:
# The following example illustrate the string in Python

str="string using double qutoes"
print(str)

s=' " A multiple string "'

print(s)

string using double qutoes
 " A multiple string "

In [17]:
str1= " Hello Data Trained Learners "#str1
str2= " How are you? "#str2

print("Print first four character using slice operator ",str1[0:4])
print("Print 4th Character ",str1[4])
print("Printing the string Twice ",str1*2)
print("Conacatenation of str1 and str2 ",str1+str2)

Print first four character using slice operator   Hel
Print 4th Character  l
Printing the string Twice   Hello Data Trained Learners  Hello Data Trained Learners
Conacatenation of str1 and str2   Hello Data Trained Learners  How are you?

# List

- Python Lists are similar to arrays in C.
- However, the list can contain data of different types. 
- The items stored in the list are separated with a comma (,) and enclosed within square brackets [].
- We can use slice : operators to access the data of the list. 
- The concatenation operator (+) and repetition operator (*) works with the list in the same way as they were working with the strings.

Consider the following example.

In [19]:
list1=[1,"hi","Python",2]

print("Type ",type(list1))

print("List ",list1)

print("List ",list1[3:])

print("First 2 ",list1[0:2])

print("Concate ",list1+list1)

print("List *3 ",list1*3)

Type  <class 'list'>
List  [1, 'hi', 'Python', 2]
List  [2]
First 2  [1, 'hi']
Concate  [1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]
List *3  [1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]

# Tuple

- A tuple is similar to the list in many ways. 
- Like lists, tuples also contain the collection of the items of different data types. 
- The items of the tuple are separated with a comma (,) and enclosed in parentheses ().
- tuple is a read-only data structure as we can't modify the size and value of the items of a tuple.

Let's see a simple example of the tuple.

In [22]:
tup=("hi","Python",2)

print(type(tup))

print(tup)

print(tup[1:])
print(tup[0:1])
print(tup+tup)
print(tup*3)
tup[2]="hi"

<class 'tuple'>
('hi', 'Python', 2)
('Python', 2)
('hi',)
('hi', 'Python', 2, 'hi', 'Python', 2)
('hi', 'Python', 2, 'hi', 'Python', 2, 'hi', 'Python', 2)

TypeError: 'tuple' object does not support item assignment

# Dictionary

- Dictionary is an unordered set of a key-value pair of items. It is like an associative array or a hash table where each key stores a specific value. Key can hold any primitive data type, whereas value is an arbitrary Python object.

- The items in the dictionary are separated with the comma (,) and enclosed in the curly braces {}.

- Dictionary is an unordered set of a key-value pair of items. It is like an associative array or a hash table where each key stores a specific value. Key can hold any primitive data type, whereas value is an arbitrary Python object.

- The items in the dictionary are separated with the comma (,) and enclosed in the curly braces {}.

Consider the following example.

In [23]:
d={1:'Jimmy',2:"Alex",3:"Jhon",4:"Mike"}

print(d)

print("First Name ",d[1])
print("Second Name ",d[4])

{1: 'Jimmy', 2: 'Alex', 3: 'Jhon', 4: 'Mike'}
First Name  Jimmy
Second Name  Mike

In [24]:
print("Keys\n",d.keys())
print("Values\n",d.values())
print("Items\n",d.items())

Keys
 dict_keys([1, 2, 3, 4])
Values
 dict_values(['Jimmy', 'Alex', 'Jhon', 'Mike'])
Items
 dict_items([(1, 'Jimmy'), (2, 'Alex'), (3, 'Jhon'), (4, 'Mike')])

# Boolean
Boolean type provides two built-in values, True and False. These values are used to determine the given statement true or false. It denotes by the class bool. True can be represented by any non-zero value or 'T' whereas false can be represented by the 0 or 'F'.

In [25]:
print(type(True))
print(type(False))
print(False)

<class 'bool'>
<class 'bool'>
False

# Set
- Python Set is the unordered collection of the data type. It is iterable, mutable(can modify after creation), and has unique elements.
- In set, the order of the elements is undefined; it may return the changed sequence of the element. The set is created by using a built-in function set(), or a sequence of elements is passed in the curly braces and separated by the comma.
- It can contain various types of values.

Consider the following example.

In [27]:
set1=set()
set1

set()

In [28]:
set2={'James',2,3,'Python'}
print(set2)

{2, 3, 'Python', 'James'}

In [29]:
set2.add(10)
print(set2)

{2, 3, 10, 'Python', 'James'}

In [30]:
set2.add(10)
print(set2)

{2, 3, 10, 'Python', 'James'}

In [31]:
set2.remove(10)
print(set2)

{2, 3, 'Python', 'James'}

# Python Literals
Python Literals can be defined as data that is given in a variable or constant.

- Python supports the following literals:

1. String literals:
String literals can be formed by enclosing a text in the quotes. We can use both single as well as double quotes to create a string.

- Example:

In [32]:
"Aman","12345"

('Aman', '12345')

# Types of Strings:
There are two types of Strings supported in Python:

- Single-line String

Strings that are terminated within a single-line are known as Single line Strings.

Example:

In [34]:
text1="Hello"

print(text1)

Hello

## Multi-line String
A piece of text that is written in multiple lines is known as multiple lines string.

Using triple quotation marks:-
Example:

In [36]:
str2="""Welcome to Data Tarined"""
print(str2)

Welcome to Data Tarined

# 2. Numeric literals:

- Numeric Literals are immutable. Numeric literals can belong to following different numerical types.

- Int(signed integers) :
Numbers( can be both positive and negative) with no fractional part.eg: 100

- float(floating point) :
Real numbers with both integer and fractional part eg: -26.2

- Complex(complex) :
In the form of a+bj where a forms the real part and b forms the imaginary part of the complex number. eg: 3.14j

Example - Numeric Literals

In [40]:
x = 0b10100 #Binary Literals  
y = 100 #Decimal Literal   
z = 0o215 #Octal Literal  
u = 0x12d #Hexadecimal Literal  

#Float literal
float_1 =100.5
float_2 =1.5e2

#complex literal
a=5+3.14j

print(x,y,z,u)
print(float_1,float_2)
print(a,a.imag,a.real)

20 100 141 301
100.5 150.0
(5+3.14j) 3.14 5.0

# 3. Boolean literals:
A Boolean literal can have any of the two values: True or False.

Example - Boolean Literals

In [43]:
x=(1==True)
y=(2==False)
z=(3==True)
a=True+10
b=False+10

print(" x is ",x)
print(" y is ",y)
print(" z is  ",z)
print(" a : ",a)
print(" b : ",b)

 x is  True
 y is  False
 z is   False
 a :  11
 b :  10

# 4. Special literals.

- Python contains one special literal i.e., None.

- None is used to specify to that field that is not created. It is also used for the end of lists in Python.

Example - Special Literals

In [44]:
val1=10
val2=None
print(val1)
print(val2)

10
None

# 5. Literal Collections.
Python provides the four types of literal collection such as List literals, Tuple literals, Dict literals, and Set literals.

### List:
List contains items of different data types. Lists are mutable i.e., modifiable. The values stored in List are separated by comma(,) and enclosed within square brackets([]). We can store different types of data in a List.

- Example - List literals

In [45]:
list=['John',1234,"Peter"]
list1=[456,'Andrew']

print(list)
print(list1)

['John', 1234, 'Peter']
[456, 'Andrew']

# Dictionary:
Python dictionary stores the data in the key-value pair. It is enclosed by curly-braces {} and each pair is separated by the commas(,).

- Example

In [46]:
dict={"Name":"Peter","Age":18,"Roll No":101}
print(dict)

{'Name': 'Peter', 'Age': 18, 'Roll No': 101}

# Tuple:
Python tuple is a collection of different data-type. It is immutable which means it cannot be modified after creation. It is enclosed by the parentheses () and each element is separated by the comma(,).

-Example

In [48]:
tup=(10,20,"Dev",[2,3,4])
print(tup)

(10, 20, 'Dev', [2, 3, 4])

# Set:
Python set is the collection of the unordered dataset. It is enclosed by the {} and each element is separated by the comma(,).

Example: - Set Literals

In [51]:
set={"apple","gauva","gauva","papaya"}
set

{'apple', 'gauva', 'papaya'}

# Python Operators
The operator can be defined as a symbol which is responsible for a particular operation between two operands. Operators are the pillars of a program on which the logic is built in a specific programming language. Python provides a variety of operators, which are described as follows.

- Arithmetic operators
- Comparison operators
- Assignment Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

# Arithmetic Operators
Arithmetic operators are used to perform arithmetic operations between two operands. It includes

- (+) (addition),
- (-) (subtraction),
- (*) (multiplication),
- (/) (divide), %(reminder),
- (//) (floor division), and
- (**) exponent operators.

Consider the following for a detailed explanation of arithmetic operators.

### Comparison operators
Comparison operators are used to comparing the value of the two operands and returns Boolean true or false accordingly. The comparison operators are described in following.

### Assignment Operators
The assignment operators are used to assign the value of the right expression to the left operand. The assignment operators are described in the following table.

### Logical Operators
The logical operators are used primarily in the expression evaluation to make a decision. Python supports the following logical operators.

### Membership Operators
Python membership operators are used to check the membership of value inside a Python data structure. If the value is present in the data structure, then the resulting value is true otherwise it returns false.

### Identity Operators
The identity operators are used to decide whether an element certain class or type.

# Python If-else statements
Decision making is the most important aspect of almost all the programming languages. As the name implies, decision making allows us to run a particular block of code for a particular decision. Here, the decisions are made on the validity of the particular conditions. Condition checking is the backbone of decision making.

In python, decision making is performed by the following statements.

- If Statement : The if statement is used to test a specific condition. If the condition is true, a block of code (if-block) will be executed.

- If - else Statement : The if-else statement is similar to if statement except the fact that, it also provides the block of the code for the false case of the condition to be checked. If the condition provided in the if statement is false, then the else statement will be executed.

- elif Statement : The elif statement is used to check multiple conditions, if any condition satisfies the operation, it will stop checking otherwise it will continue to check conditions.

- Nested if Statement : Nested if statements enable us to use if ? else statement inside an outer if statement.

# Indentation in Python
For the ease of programming and to achieve simplicity, python doesn't allow the use of parentheses for the block level code. In Python, indentation is used to declare a block. If two statements are at the same indentation level, then they are the part of the same block.

Generally, four spaces are given to indent the statements which are a typical amount of indentation in python.

Indentation is the most used part of the python language since it declares the block of code. All the statements of one block are intended at the same level indentation. We will see how the actual indentation takes place in decision making and other stuff in python.

## The if statement
The if statement is used to test a particular condition and if the condition is true, it executes a block of code known as if-block. The condition of if statement can be any valid logical expression which can be either evaluated to true or false.

The syntax of the if-statement is given below.

In [1]:
num=int(input("enter the number?: "))

if num%2 ==0:
    print("Number is even")

enter the number?: 12
Number is even

In [9]:
#  Example 2 : Program to print the largest of the three numbers.

a= int(input("Enter a: "));
b= int(input("Enter b: "));
c= int(input("Enter c: "));

if a>b and a>c:
    print("A is largest");
if b>a and b>c:
    print("B is largest");
if c>a and c>b:
    print("C is largest");

Enter a: 3
Enter b: 5
Enter c: 6
C is largest

# The if-else statement
The if-else statement provides an else block combined with the if statement which is executed in the false case of the condition.

If the condition is true, then the if-block is executed. Otherwise, the else-block is executed.

In [10]:
# Example 1: Program to check whether a person is eligible to vote or not.

age=int(input("Enter your age"))

if age>=18:
    print("Eligible to vote")
else:
    print("Sorry! you have to wait")

Enter your age12
Sorry! you have to wait

In [11]:
# # Example 2: Program to check whether a number is even or not.

num= int(input("Enter the number"))

if num%2==0:
    print("Number is Even")
    
else:
    print("Number is Odd")

Enter the number4
Number is Even

# The elif statement
The elif statement enables us to check multiple conditions and execute the specific block of statements depending upon the true condition among them. We can have any number of elif statements in our program depending upon our need. However, using elif is optional.

The elif statement works like an if-else-if ladder statement in C. It must be succeeded by an if statement.

In [13]:
# Example 1 : Check if a given number is equal to 10, 50, 100
number=int(input("Please feed me a number"))

if number==10:
    print("Number is equal to Ten")
    
elif number==50:
    print("Number is equal to Fifty")
    
elif number==100:
    print("Number is equal to Hundred")
    
else:
    print(number," Number Has no match")

Please feed me a number20
20  Number Has no match

In [14]:
# Example 2 : Check if the student has passed and scored which grade.

num=int(input("Please Enter your Marks"))

if num>85 and  num<=100:
    print("Congratulation ! you score grade A.....")
    
elif num>60 and num<=85:
    print("You score grade B+.....")
    
elif num>40 and num<=60:
    print(" You score grade B....")
    
elif num>30 and numb<=40:
    print(" You scored grade C....")

Please Enter your Marks50
 You score grade B....

# The Nested if statement
The nested if statement enables us to check multiple conditions within conditions and execute the specific block of statements depending upon the true condition among them. We can have any number of if-else,elif statements in our program depending upon our need. However, using elif is optional.

In [15]:
# Example: if you are adult and senior citizen.

age=int(input("Enter your age: "))

if age>18:
    print("You are an adult")
    
    if age>65:
        print("You are a senior citizen as well")
    else:
        print(" You are not a senior citizen")
        
else:
    print("You are minor")

Enter your age: 1
You are minor

In [18]:
# Example : check if given a leap year or not:

year=int(input("enter the year you want to check :"))

if (year % 4)==0:
    if (year % 100)==0:
        if(year % 400)==0:
            print("{0} is a leap year".format(year))
            
        else:
            print(" {0} is not a leap year ".format(year))
            
    else:
        print(" %0.0d is not a leap year "%year)
else:
    print("{0} is not a leap year".format(year))

enter the year you want to check :2010
2010 is not a leap year

In [19]:
# check driving lisence eligible

age= int(input("Enter Age"))

if (age>=18):
    if age>50:
        print("Your liscence has expired, please renew your DL")
    else:
        print("You are eligible for DL")
        
else:
    if age>=16:
        print("You are eligible for learner DL 50cc non gear vehicle")
        
    else:
        print("You are not eligbile of DL")

Enter Age20
You are eligible for DL

----------------------------

# Python Loops
The flow of the programs written in any programming language is sequential by default. Sometimes we may need to alter the flow of the program. The execution of a specific code may need to be repeated several numbers of times.

# Why we use loops in python?
The looping simplifies the complex problems into the easy ones. It enables us to alter the flow of the program so that instead of writing the same code again and again, we can repeat the same code for a finite number of times. 

- For example, if we need to print the first 10 natural numbers then, instead of using the print statement 10 times, we can print inside a loop which runs up to 10 iterations.

# Advantages of loops
There are the following advantages of loops in Python.

- It provides code re-usability.
- Using loops, we do not need to write the same code again and again.
- Using loops, we can traverse over the elements of data structures (array or linked lists).
- There are the following loop statements in Python.

# Python for loop
The for loop in Python is used to iterate the statements or a part of the program several times. It is frequently used to traverse the data structures like list, tuple, or dictionary.

- The syntax of for loop in python is given below.

In [20]:
# Itering string using for loop

str="Data Trained"

for i in str:
    print(i,end=" ")

D a t a   T r a i n e d

In [23]:
## Example- 2: Program to print the table of the given number
l=list(range(1,11))

n=int(input("Enter any Number "))

for i in l:
    print(n,"*",i,"= ",n*i)

Enter any Number 2
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18
2 * 10 =  20

In [25]:
# Example-4: Program to print the sum of the given list.

list = [10,30,23,43,65,12] 

sum=0
for i in list:
    sum=sum+i
    print(sum,"=",sum,"+",i)
print(sum)

10 = 10 + 10
40 = 40 + 30
63 = 63 + 23
106 = 106 + 43
171 = 171 + 65
183 = 183 + 12
183

# For loop Using range() function
The range() function

The range() function is used to generate the sequence of the numbers. If we pass the range(10), it will generate the numbers from 0 to 9. The syntax of the range() function is given below.

The start represents the beginning of the iteration. The stop represents that the loop will iterate till stop-1. The range(1,5) will generate numbers 1 to 4 iterations. It is optional. The step size is used to skip the specific numbers from the iteration. It is optional to use. By default, the step size is 1. It is optional. Consider the following examples:

Example-1: Program to print numbers in sequence.

In [26]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [29]:
# Example 2: program to print table of the given number

n=int(input("Enter a number"))

for i in range(11):
    print(n,"*",i,"= ",n*i)

Enter a number2
2 * 0 =  0
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18
2 * 10 =  20

In [38]:
# Example-3: Program to print even number using step size in range().

n=int(input("Enter the last number of range "))
      
for i in range(1,n):
    if(i%2==0):
        print(i)
    else:
        pass

Enter the last number of range 5
2
4

In [39]:
n = int(input("Enter the number "))  
for i in range(2,n,2):  
    print(i)

Enter the number 10
2
4
6
8

We can also use the range() function with sequence of numbers. The len() function is combined with range() function which iterate through a sequence using indexing. Consider the following example.

In [41]:
list1=['Data','Trained','Data Trained','datatrain']

for i in range(len(list1)):
    print("Hello ",list1[i])

Hello  Data
Hello  Trained
Hello  Data Trained
Hello  datatrain

# Nested for loop in python
Python allows us to nest any number of for loops inside a for loop. The inner loop is executed n number of times for every iteration of the outer loop. The syntax is given below.

Syntax

In [42]:
# user input for number of rows
rows=int(input("Enter the rows"))

#Outer Loop will print number of rows

for i in range(0,rows+1):
    #inner Loop will print number of Asticks
    
    for j in range(i):
        print("*",end=" ")
    print()

Enter the rows5

*
* *
* * *
* * * *
* * * * *

In [43]:
# Example 2 : Program to number pyramid.

rows=int(input("Enter the rows"))

for i in range(0,rows+1):
    for j in range(i):
        print(i,end=" ")
    print()

Enter the rows5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# Using else statement with for loop
Unlike other languages like C, C++, or Java, Python allows us to use the else statement with the for loop which can be executed only when all the iterations are exhausted. Here, we must notice that if the loop contains any of the break statement then the else statement will not be executed.

In [44]:
for i in range(0,5):
    print(i)
    
else:
    print("for loop completly exhausted, since there is no break")

0
1
2
3
4
for loop completly exhausted, since there is no break

# Python While loop
The Python while loop allows a part of the code to be executed until the given condition returns false. It is also known as a pre-tested loop.

It can be viewed as a repeating if statement. When we don't know the number of iterations then the while loop is most effective to use.

The syntax is given below.

In [50]:
# Example-1: Program to print 1 to 10 using while loop
i=1

while(i<10):
    print(i,end=" ")
    i+= 1

1 2 3 4 5 6 7 8 9

In [59]:
# Example-1: Program to print 1 to 10 using while loop

i=1

num=0
num=int(input("Enter the number: "))

while i<=10:
    print(f"{num}x{i}={num*i}")
    i=i+1

Enter the number: 2
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20

# Using else with while loop
Python allows us to use the else statement with the while loop also. The else block is executed when the condition given in the while statement becomes false. Like for loop, if the while loop is broken using break statement, then the else block will not be executed, and the statement present after else block will be executed. The else statement is optional to use with the while loop.

In [60]:
i=1
while(i<=5):
    print(i,end=" ")
    i=i+1
else:
    print("The while loop exhausted")

1 2 3 4 5 The while loop exhausted

In [65]:
# Example Program to print Fibonacci number of the given limit
term= int(input("Enter the terms "))
# first two initial terms

a=0
b=1
count=0

# check if the number of terms is Zero or Negative
if (term<=0):
    print("Please Enter a valid number")
    
elif (term==1):
    print(" Fibonacci sequence upto 1"," :")

else:
    print(" Fibonacci Sequences ")
    
    while (count< term):
        print(a,end=" ")
        c=a+b
        #updating
        a=b
        b=c
        count+=1

Enter the terms 10
 Fibonacci Sequences
0 1 1 2 3 5 8 13 21 34

# Break Statement
The break is a keyword in python which is used to bring the program control out of the loop. The break statement breaks the loops one by one, i.e., in the case of nested loops, it breaks the inner loop first and then proceeds to outer loops. In other words, we can say that break is used to abort the current execution of the program and the control goes to the next line after the loop.

The break is commonly used in the cases where we need to break the loop for a given condition.

The syntax of the break is given below.

In [72]:
lis1=[1,2,3,4,5]
count=1;

for i in list1:
    if i==4:
        print("Item Matched ")
        count=count+1;
        break
print("Found the value");

Item Matched
Found the value

In [70]:
# Example 1
list1 =[1,2,3,4]  
count = 1;  
for i in list1:  
    if i == 4:  
        print("item matched")  
        count = count + 1;  
        break  
print("found the value");

item matched
found the value

In [78]:
str="Data Trained"

for i in str:
    if i=='e':
        break
    print(i,end=" ")

D a t a   T r a i n

# Python continue Statement
The continue statement in Python is used to bring the program control to the beginning of the loop. The continue statement skips the remaining lines of code inside the loop and start with the next iteration. It is mainly used for a particular condition inside the loop so that we can skip some specific code for a particular condition.The continue statement in Python is used to bring the program control to the beginning of the loop. The continue statement skips the remaining lines of code inside the loop and start with the next iteration. It is mainly used for a particular condition inside the loop so that we can skip some specific code for a particular condition.

In [80]:
i=0

while(i<10):
    i=i+1
    if(i==5):
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9 10

- Check 5 has been skipped

In [86]:
str="Data trained"

for i in str:
    if i=='i':
        continue
    print(i,end=" ")

D a t a   t r a n e d

- Check i missing

# Pass Statement
In Python, the pass keyword is used to execute nothing; it means, when we don't want to execute code, the pass can be used to execute empty. It is the same as the name refers to. It just makes the control to pass by without executing any code. If we want to bypass any code pass statement can be used.

It is beneficial when a statement is required syntactically, but we want we don't want to execute or execute it later. The difference between the comments and pass is that, comments are entirely ignored by the Python interpreter, where the pass statement is not ignored.

Suppose we have a loop, and we do not want to execute right this moment, but we will execute in the future. Here we can use the pass.

In [88]:
# Example : If the number is even we are doing nothing and if it is odd then we are displaying the number.

i=0

while(i<20):
    if (i%2==0):
        print(i)
    else:
        pass
    i+= 1

0
2
4
6
8
10
12
14
16
18

In [89]:
for num in [20,10,30,31,43]:
    if num%2==0:
        pass
    else:
        print(num)

31
43

In [90]:
for i in [1,2,3,4,5]:
    if (i==4):
        pass
    else:
        print(i)

1
2
3
5

In [96]:
## Python program to check if the number is an Armstrong number or not

# take input from the user

num=int(input("Enter the number: "))

sum=0

#find the sum of the cube of each digit

temp=num

while temp>0:
    digit=temp%10
    sum=sum+digit**3
    temp//=10
    
if num == sum:
    print(num,"is an armstrong number")
else:
    print(num," is not a armstrong number")

Enter the number: 1000
1000  is not a armstrong number

In [100]:
for i in range(2,5):
    print(i,end=" ")

2 3 4

In [102]:
# Program to check if a number is prime or not

user=(int(input("Enter the Number : ")))

if user>1:
    #check for factors
    for i in range(2,user):
        if (user%i)==0:
            print(user,"is not a prime number")
            print(i, "times",user//i,"is",user)
            
            break
    else:
        print(user,"Number is prime")
            
else:
    print(user, "is not a prime Number")

Enter the Number : 3
3 Number is prime

In [104]:
# Python program to find the factorial of a number provided by the user.

# to take the input from the user
num= int(input("Enter the number "))
factorial=1

#check if the number is negative, positive or zero

if num<0:
    print("Sorry the factorial doesn't exist for negative numbers")
elif num==0:
    print("The factorial of 0 is 1")
    
else:
    for  i in range(1,num+1):
        factorial=factorial*i
        
    print("The factorial of ",num,"is",factorial)

Enter the number 13
The factorial of  13 is 6227020800

# Python Strings
Python string is the collection of the characters surrounded by single quotes, double quotes, or triple quotes. The computer does not understand the characters; internally, it stores manipulated character as the combination of the 0's and 1's.

Each character is encoded in the ASCII or Unicode character. So we can say that Python strings are also called the collection of Unicode characters.

In Python, strings can be created by enclosing the character or the sequence of characters in the quotes. Python allows us to use single quotes, double quotes, or triple quotes to create the string.

In [105]:
#syntex
str1="Hi Python"
print(str1,type(str1))

Hi Python <class 'str'>

# Creating String in Python
We can create a string by enclosing the characters in single-quotes or double- quotes. Python also provides triple-quotes to represent the string, but it is generally used for multiline string or docstrings.

In [106]:
str1="Hello Python"
print(str1)

Hello Python

In [107]:
str2="Hello Python"
print(str2)

str3="""Triple code is 
used for multiple lines or
docstring"""
print(str3)

Hello Python
Triple code is
used for multiple lines or
docstring

# Strings indexing and splitting
Like other languages, the indexing of the Python strings starts from 0. For example, The string "HELLO" is indexed as given in the below example

In [109]:
str1="Hello"

print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[4])

H
e
l
l
o

In [110]:
print(str1[5])

IndexError: string index out of range

As shown in Python, the slice operator [ ] is used to access the individual characters of the string. However, we can use the : (colon) operator in Python to access the substring from the given string.

we must notice that the upper range given in the slice operator is always exclusive i.e., if str = 'HELLO' is given, then str[1:3] will always include str[1] = 'E', str[2] = 'L' and nothing else.

Consider the following example.

In [111]:
# given String
str2="Data Trained"

print(str2[0:])
print(str2[1:])
print(str2[4:])

Data Trained
ata Trained
 Trained

In [112]:
str3="DATA TRAINED"
print(str3[-1])
print(str3[-2:])
print(str3[-3:])
print(str3[-4:])

D
ED
NED
INED

Reassigning Strings Updating the content of the strings is as easy as assigning it to a new string. The string object doesn't support item assignment i.e., A string can only be replaced with new string since its content cannot be partially replaced. Strings are immutable in Python.

Consider the following example.

In [113]:
str1 ="Hello"
str1[0]='h'
str1

TypeError: 'str' object does not support item assignment

In [114]:
# Example 2:
str1="Hello"
print(str1)

str1="hello"
print(str1)

Hello
hello

# Deleting the String
As we know that strings are immutable. We cannot delete or remove the characters from the string. But we can delete the entire string using the del keyword.

In [115]:
str="DATATRAINED"

del str1[1] #can't del element

TypeError: 'str' object doesn't support item deletion

In [116]:
del(str1)
print(str1)

NameError: name 'str1' is not defined

# String Operators
Example
Consider the following example to understand the real use of Python operators.

In [117]:
str4 ="Hello"
str1=" world"

print(str4*3)
print(str4+str1)
print(str4[4])
print(str4[2:4])
print('w' in str4)
print("wo" not in str1)

HelloHelloHello
Hello world
o
ll
False
False

In [118]:
print(r'C://python37')

C://python37

In [119]:
print("The string str : %s"%(str4))

The string str : Hello

# Python String Formatting
Escape Sequence Let's suppose we need to write the text as - They said, "Hello what's going on?"- the given statement can be written in single quotes or double quotes but it will raise the SyntaxError as it contains both single and double-quotes.

Example

In [122]:
str="They said, "'Hello what\'s goingon?'""

In [123]:
str

"They said, Hello what's goingon?"

We can use the triple quotes to accomplish this problem but Python provides the escape sequence.

The backslash(/) symbol denotes the escape sequence. The backslash can be followed by a special character and it interpreted differently. The single quotes inside the string must be escaped. We can apply the same as in the double quotes.

In [124]:
# using triple quotes  
print('''''They said, "What's there?"''')  
  
# escaping single quotes  
print('They said, "What\'s going on?"')  
  
# escaping double quotes  
print("They said, \"What's going on?\"")

''They said, "What's there?"
They said, "What's going on?"
They said, "What's going on?"

In [125]:
# Example
print("www.example.com\\example")
print('what\s your favourate food?')
print("Printing \n new \n line \nafter\n every\nword")

www.example.com\example
what\s your favourate food?
Printing
 new
 line
after
 every
word

In [127]:
print("Printing \tnew \ttab\tevery\tword")

Printing 	new 	tab	every	word

# The format() method
The format() method is the most flexible and useful method in formatting strings. The curly braces {} are used as the placeholder in the string and replaced by the format() method argument.

Let's have a look at the given an example:

In [128]:
#using Curly braces
print("{0} and {1} both are the best friend ".format("Devansh","Abhishek"))

Devansh and Abhishek both are the best friend

In [130]:
# positional Arguments
print("{1} and {0} best players".format("Raj","Shaym"))

Shaym and Raj best players

In [131]:
#Keyword Arguments
print("{a},{b},{c}".format(a='James',b="peter",c="Ricky"))

James,peter,Ricky

# Python String Formatting Using % Operator
Python allows us to use the format specifiers used in C's printf statement. The format specifiers in Python are treated in the same way as they are treated in C. However, Python provides an additional operator %, which is used as an interface between the format specifiers and their values. In other words, we can say that it binds the format specifiers to the values.

Consider the following example.

In [136]:
Integer =20
Float=1.290
string="Devansh"
print("Hi I am Integer.... My value is %d\nHi I am Float... My value is %f\nMy Value is %s"%(Integer,Float,string))

Hi I am Integer.... My value is 20
Hi I am Float... My value is 1.290000
My Value is Devansh

# Python String functions

In [139]:
example="DataTrained"
print(example.capitalize())
print(example.center(20,"*"))
print(example.endswith("ed"))
print(example.isalnum())
print(example.isalpha())
print(example.isdecimal())
print(example.isdigit())
print(example.islower())
print(example.isupper())
print(example.upper())
print(example.lower())
print(example.replace("D",'d'))
print(example.split("a"))
print(example.startswith("Da"))
print(example.swapcase())
print(example.title())
print(example.isidentifier())

Datatrained
****DataTrained*****
True
True
True
False
False
False
False
DATATRAINED
datatrained
dataTrained
['D', 't', 'Tr', 'ined']
True
dATAtRAINED
Datatrained
True

--------------------------

# Python List
A list in Python is used to store the sequence of various types of data. Python lists are mutable type its mean we can modify its element after it created. However, Python consists of six data-types that are capable to store the sequences, but the most common and reliable type is the list.

A list can be defined as a collection of values or items of different types. The items in the list are separated with the comma (,) and enclosed with the square brackets [ ].

A list can be define as below

In [142]:
L1=["Jhon","USA",102]
L2=[1,2,3,4,5,6]
L3=['Hello','DataTrained']

If we try to print the type of L1, L2, and L3 using type() function then it will come out to be a list.

In [143]:
print(type(L1),type(L2),type(L3))

<class 'list'> <class 'list'> <class 'list'>

# Characteristics of Lists
The list has the following characteristics:

- The lists are ordered.

- The element of the list can access by index.

- The lists are the mutable type.

- The lists are mutable types.

- A list can store the number of various elements.

Let's check the first statement that lists are the ordered

In [145]:
a=[1,2,'Peter',4.50,'Ricky',5,6]
b=[1,2,'Peter',4.50,'Ricky',5,6]
a==b

True

In [146]:
a=[1,2,'Peter',4.50,'Ricky',5,6]
b=[1,2,5,'Peter',4.50,'Ricky',6]
a==b

False

In [152]:
emp=['Jhon',102,'USA']
Dep1=['CS',10]
Dep2=['IT',11]
HOD_CS=[10,'Mr. Sinnha']
HOD_IT=[11,'Mr. Bhushan']

print("printing employee data...")
print("Name :%s,ID: %d, country:%s"%(emp[0],emp[1],emp[2]))
print("Printing Departments.....","\n")

print("DEPARTMENT 1: Name:%s,ID:%d \nDEPARTMENT 2:Name:%s,ID:%s"%(Dep1[0],Dep2[1],Dep2[0],Dep2[1]))
print("HOD Details.......")

print("\nCS HOD Name: %s, Id: %d"%(HOD_CS[1],HOD_CS[0]))
print("\nIT HOD NAME: %s,Id: %d "%(HOD_IT[1],HOD_IT[0]))

printing employee data...
Name :Jhon,ID: 102, country:USA
Printing Departments.....

DEPARTMENT 1: Name:CS,ID:11
DEPARTMENT 2:Name:IT,ID:11
HOD Details.......

CS HOD Name: Mr. Sinnha, Id: 10

IT HOD NAME: Mr. Bhushan,Id: 11

In the above example, we have created the lists which consist of the employee and department details and printed the corresponding details. Observe the above code to understand the concept of the list better.

# List indexing and splitting
The indexing is processed in the same way as it happens with the strings. The elements of the list can be accessed by using the slice operator [].

The index starts from 0 and goes to length - 1. The first element of the list is stored at the 0th index, the second element of the list is stored at the 1st index, and so on.

In [153]:
list_example=[0,1,2,3,4,5,6,7]
print(list_example[0])
print(list_example[1])
print(list_example[2])
print(list_example[3])
print(list_example[4])
print(list_example[5])
print(list_example[6])
print(list_example[7])

print("\n",list_example[0:3])
print(list_example[3:6])
print(list_example[6:])

0
1
2
3
4
5
6
7

 [0, 1, 2]
[3, 4, 5]
[6, 7]

In [154]:
list=[1,2,3,4,5,6,7,8]
print(list[0])
print(list[1])
print(list[2])
print(list[3])
print(list[4])
print(list[5])
print(list[6])
print(list[7])
print(list[7:])
print(list[2:5])
print(list[1:6:2])

1
2
3
4
5
6
7
8
[8]
[3, 4, 5]
[2, 4, 6]

Unlike other languages, Python provides the flexibility to use the negative indexing also. The negative indices are counted from the right. The last element (rightmost) of the list has the index -1; its adjacent left element is present at the index -2 and so on until the left-most elements are encountered.

Let's have a look at the following example where we will use negative indexing to access the elements of the list.

In [155]:
list=[1,2,3,4,5]
print(list[-1])
print(list[:-1])
print(list[-3:-1])

5
[1, 2, 3, 4]
[3, 4]

As we discussed above, we can get an element by using negative indexing. In the above code, the first print statement returned the rightmost element of the list. The second print statement returned the sub-list, and so on.

# Updating List values
Lists are the most versatile data structures in Python since they are mutable, and their values can be updated by using the slice and assignment operator.

Python also provides append() and insert() methods, which can be used to add values to the list.

Consider the following example to update the values inside the list.

In [156]:
list=[1,2,3,4,5,6]
print(list)

list[2]=10
print(list)

list[1:3]=[89,78]
print(list)

list[-1]=25
print(list)

[1, 2, 3, 4, 5, 6]
[1, 2, 10, 4, 5, 6]
[1, 89, 78, 4, 5, 6]
[1, 89, 78, 4, 5, 25]

# Python List Operations
The concatenation (+) and repetition (*) operators work in the same way as they were working with the strings.

Let's see how the list responds to various operators.

Consider a Lists

- l1 = [1, 2, 3, 4], and
- l2 = [5, 6, 7, 8] to perform operation.

# Iterating a List
A list can be iterated by using a for - in loop. A simple list containing four strings, which can be iterated as follows.

In [157]:
list=['Jhon','David','James','Jonathan']

for i in list:
    print(i)
    
    # The i variable will iterate over the element of the list

Jhon
David
James
Jonathan

In [159]:
l=[]#empty list

n=int(input("Enter the number of elements in the list: "))

# for loop

for i in range(0,n):
    # the input is taken from the user and added into list
    l.append(input("Enter the item"))
print("Printing the list item")

for i in l:
    print(i,end="\t")

Enter the number of elements in the list: 5
Enter the item1
Enter the item1
Enter the item1
Enter the item1
Enter the item1
Printing the list item
1	1	1	1	1

# Removing elements from the list
Python provides the remove() function which is used to remove the element from the list. Consider the following example to understand this concept.

Example -

In [160]:
list=[0,1,2,3,4]
print("Printing original list : ");

for i in list:
    print(i,end=" ")
list.remove(2)
print("\nprinting the list after the removal of first element....")

for i in list:
    print(i,end=" ")

Printing original list :
0 1 2 3 4
printing the list after the removal of first element....
0 1 3 4

# Python List Built-in functions
Python provides the following built-in functions, which can be used with the lists.

Let's have a look at the few list examples.

Example: 1- Write the program to remove the duplicate element of the list

In [162]:
list1 = [1,2,2,3,55,98,65,65,13,29]  
# Declare an empty list that will store unique values  

list2=[]

for i in list1:
    if i not in list2:
        list2.append(i)
print(list2)

[1, 2, 3, 55, 98, 65, 13, 29]

In [163]:
list1

[1, 2, 2, 3, 55, 98, 65, 65, 13, 29]

Example:2- Write a program to find the sum of the element in the list.

In [164]:
list1=[3,4,5,9,10,12,24]

sum=0

for i in list1:
    sum=sum+i
    
print("The sum is",sum)

The sum is 67

Example: 3- Write the program to find the lists consist of at least one common element.

In [168]:
list1=[1,2,3,4,5,6]
list2=[7,8,9,2,10]
for i in list1:
    for y in list2:
        if i==y:
            print("The common element is: ",i)

The common element is:  2

-----------------------

-----------------------

# Python Tuple
Python Tuple is used to store the sequence of immutable Python objects. The tuple is similar to lists since the value of the items stored in the list can be changed, whereas the tuple is immutable, and the value of the items stored in the tuple cannot be changed.

# Creating a tuple
A tuple can be written as the collection of comma-separated (,) values enclosed with the small () brackets. The parentheses are optional but it is good practice to use.

A tuple can be defined as follows.

In [171]:
T1=(101,"Peter",22)
T2=("Apple","Banana","Orange")
T3=10,20,30,40,50

print(type(T1))
print(type(T2))
print(type(T3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [172]:
tup1=("Data Trained")
print(type(tup1))

<class 'str'>

In [173]:
# creating tuple with single function
tup2=("Data Trained",)
type(tup2)

tuple

A tuple is indexed in the same way as the lists. The items in the tuple can be accessed by using their specific index value.

Consider the following example of tuple:

In [178]:
tuple1=(10,20,30,40,50,60)
print(tuple1)
count=0

for i in tuple1:
    print("tuple1[%d]=%d"%(count,i))
    count=count+1

(10, 20, 30, 40, 50, 60)
tuple1[0]=10
tuple1[1]=20
tuple1[2]=30
tuple1[3]=40
tuple1[4]=50
tuple1[5]=60

In [182]:
#example2

tuple1=tuple(input("Enter the tuple elements....."))
print(tuple1)
count=0

for i in tuple1:
    print("tuple1[%d]=%s"%(count,i))
    count=count+1

Enter the tuple elements.....2

TypeError: 'tuple' object is not callable

In [185]:
tuple1 = tuple(input("Enter the tuple elements ..."))  
print(tuple1)    
count = 0    
for i in tuple1:    
    print("tuple1[%d] = %s"%(count, i))   
    count = count+1

Enter the tuple elements ...2

TypeError: 'tuple' object is not callable

# Tuple indexing and slicing
A tuple is indexed in the same way as the lists. The items in the tuple can be accessed by using their specific index value.The indexing in the tuple starts from 0 and goes to length(tuple) - 1.

The items in the tuple can be accessed by using the index [] operator. Python also allows us to use the colon operator to access multiple items in the tuple.

In [186]:
tup=(1,2,3,4,5,6,7)

print(tup[0])
print(tup[1])
print(tup[2])

1
2
3

In [187]:
print(tup[8])

IndexError: tuple index out of range

In [188]:
tuple=(1,2,3,4,5,6,7)

print(tuple[1:])
print(tuple[:4])
print(tuple[1:5])
print(tuple[0:6:2])

(2, 3, 4, 5, 6, 7)
(1, 2, 3, 4)
(2, 3, 4, 5)
(1, 3, 5)

# Negative Indexing
The tuple element can also access by using negative indexing. The index of -1 denotes the rightmost element and -2 to the second last item and so on.

The elements from left to right are traversed using the negative indexing. Consider the following example:

In [189]:
tuple=(1,2,3,4,5)
print(tuple[-1])
print(tuple[-4])
print(tuple[-3:-1])
print(tuple[:-1])
print(tuple[-2])

5
2
(3, 4)
(1, 2, 3, 4)
4

# Deleting Tuple
Unlike lists, the tuple items cannot be deleted by using the del keyword as tuples are immutable. To delete an entire tuple, we can use the del keyword with the tuple name.

Consider the following example.

In [191]:
tuple1=(1,2,3,4,5,6)
print(tuple1)

del tuple1
print(tuple1)

(1, 2, 3, 4, 5, 6)

NameError: name 'tuple1' is not defined

# Basic Tuple operations
The operators like concatenation (+), repetition (*), Membership (in) works in the same way as they work with the list. Consider the following table for more detail.

Let's say Tuple t = (1, 2, 3, 4, 5) and Tuple t1 = (6, 7, 8, 9) are declared.

Python Tuple inbuilt functions

Function Description

- cmp(tuple1, tuple2) It compares two tuples and returns true if tuple1 is greater than tuple2 otherwise false.

- len(tuple) It calculates the length of the tuple.

- max(tuple) It returns the maximum element of the tuple

- min(tuple) It returns the minimum element of the tuple.

- tuple(seq) It converts the specified sequence to the tupl

# Where use tuple?
Using tuple instead of list is used in the following scenario.

Using tuple instead of list gives us a clear idea that tuple data is constant and must not be changed.

Tuple can simulate a dictionary without keys. Consider the following nested structure, which can be used as a dictionary.

In [192]:
[(101,'Jhon',22),(102,'Mike',28),(103,'Dustin',30)]

[(101, 'Jhon', 22), (102, 'Mike', 28), (103, 'Dustin', 30)]

-----------------------

-----------------------

# Python Set

- A Python set is the collection of the unordered items. 
- Each element in the set must be unique, immutable, and the sets remove the duplicate elements. 
- Sets are mutable which means we can modify it after its creation.

Unlike other collections in Python, there is no index attached to the elements of the set, i.e., we cannot directly access any element of the set by the index. However, we can print them all together, or we can get the list of elements by looping through the set.

Creating a set
The set can be created by enclosing the comma-separated immutable items with the curly braces {}. Python also provides the set() method, which can be used to create the set by the passed sequence.

In [193]:
Day={'Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'}
print(Day)

{'Thursday', 'Tuesday', 'Saturday', 'Sunday', 'Wednesday', 'Friday', 'Monday'}

In [194]:
print(type(Day),end="\n\n")
print("Looping Through the set elements.....\n\n")

for i in Day:
    print(i)

<class 'set'>

Looping Through the set elements.....


Thursday
Tuesday
Saturday
Sunday
Wednesday
Friday
Monday

In [196]:
Days = set(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])    
print(Days)    
print("\n",type(Days))    
print("looping through the set elements ... ")    
for i in Days:    
    print(i)

{'Wednesday', 'Monday', 'Friday', 'Thursday', 'Tuesday', 'Saturday', 'Sunday'}

 <class 'set'>
looping through the set elements ...
Wednesday
Monday
Friday
Thursday
Tuesday
Saturday
Sunday

In [198]:
# Creating a set which have immutable elements

set1={1,2,3,"DataTrained",20.5,14}
print(type(set1))

<class 'set'>

In [201]:
set2={1,2,3,['DataTrained',4]}
type(set2)

TypeError: unhashable type: 'list'

In the above code, we have created two sets, the set set1 have immutable elements and set2 have one mutable element as a list. While checking the type of set2, it raised an error, which means set can contain only immutable elements.

Creating an empty set is a bit different because empty curly {} braces are also used to create a dictionary as well. So Python provides the set() method used without an argument to create an empty set.

In [203]:
# Empty curly braces will create dictionary  
set3 = {}  
print(type(set3))  
  
# Empty set using set() function  
set4 = set()  
print(type(set4))

<class 'dict'>

TypeError: 'set' object is not callable

Let's see what happened if we provide the duplicate element to the set

In [204]:
set5 = {1,2,4,4,5,8,9,9,10} 
print("check Duplicated values",set5)

check Duplicated values {1, 2, 4, 5, 8, 9, 10}

# Adding items to the set
Python provides the add() method and update() method which can be used to add some particular item to the set. The add() method is used to add a single element whereas the update() method is used to add multiple elements to the set. Consider the following example.

## Example: 1 - Using add() method

In [207]:
Months=set'Jan','Feb','March','April','May','June','July')
print("\nprinting the original",Months)

TypeError: 'set' object is not callable

In [211]:
Months = {"January","February", "March", "April", "May", "June"}    
print("\nprinting the original set ... ")    
Months

printing the original set ...

{'April', 'February', 'January', 'June', 'March', 'May'}

In [212]:
Months.update(['July','August','September','October'])

In [214]:
print(Months)

{'August', 'March', 'January', 'October', 'February', 'April', 'July', 'May', 'June', 'September'}

In [215]:
print("\nAdding other months to the set...");    
Months.add("December");

Adding other months to the set...

In [216]:
print(Months)

{'August', 'March', 'January', 'October', 'February', 'April', 'July', 'May', 'June', 'December', 'September'}

# Removing items from the set
Python provides the discard() method and remove() method which can be used to remove the items from the set. The difference between these function, using discard() function if the item does not exist in the set then the set remain unchanged whereas remove() method will through an error.

Consider the following example.

Example-1 Using discard() method

In [217]:
Months.discard("December")
Months.discard("May")

We can also use the pop() method to remove the item. Generally, the pop() method will always remove the last item but the set is unordered, we can't determine which element will be popped from set.

Consider the following example to remove the item from the set using pop() metho

In [219]:
  print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving some months from the set...");    
Months.pop();    
Months.pop();    
print("\nPrinting the modified set...");    
print(Months)

printing the original set ...
{'August', 'March', 'January', 'October', 'February', 'April', 'July', 'June', 'September'}

Removing some months from the set...

Printing the modified set...
{'January', 'October', 'February', 'April', 'July', 'June', 'September'}

# Difference between discard() and remove()
Despite the fact that discard() and remove() method both perform the same task, There is one main difference between discard() and remove().

If the key to be deleted from the set using discard() doesn't exist in the set, the Python will not give the error. The program maintains its control flow.

On the other hand, if the item to be deleted from the set using remove() doesn't exist in the set, the Python will raise an error.

Consider the following example.

In [220]:
Months = {"January","February", "March", "April", "May", "June"}   
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving items through discard() method...");    
Months.discard("Feb"); #will not give an error although the key feb is not available in the set    
print("\nprinting the modified set...")    
print(Months)

printing the original set ...
{'February', 'April', 'May', 'June', 'January', 'March'}

Removing items through discard() method...

printing the modified set...
{'February', 'April', 'May', 'June', 'January', 'March'}

In [222]:
print("\nRemoving items through remove() method...");    
Months.remove("February") #will give an error as the key jan is not available in the set.     
print("\nPrinting the modified set...")    
print(Months)

Removing items through remove() method...

Printing the modified set...
{'April', 'May', 'June', 'January', 'March'}

# Python Set Operations
Set can be performed mathematical operation such as union, intersection, difference, and symmetric difference. Python provides the facility to carry out these operations with operators or methods. We describe these operations as follows.

# Union of two Sets
The union of two sets is calculated by using the pipe (|) operator. The union of the two sets contains all the items that are present in both the sets.

Consider the following example to calculate the union of two sets.

Example 1: using union | operato

In [223]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}    
Days2 = {"Friday","Saturday","Sunday"}    

print(Days1|Days2) #printing the union of the sets

{'Thursday', 'Friday', 'Tuesday', 'Sunday', 'Saturday', 'Wednesday', 'Monday'}

# Python Dictionary
Python Dictionary is used to store the data in a key-value pair format. The dictionary is the data type in Python, which can simulate the real-life data arrangement where some specific value exists for some particular key. It is the mutable data-structure. The dictionary is defined into element Keys and values.

- Keys must be a single element
- Value can be any type such as list, tuple, integer, etc.

In other words, we can say that a dictionary is the collection of key-value pairs where the value can be any Python object. In contrast, the keys are the immutable Python object, i.e., Numbers, string, or tuple.

## Creating the dictionary
The dictionary can be created by using multiple key-value pairs enclosed with the curly brackets {}, and each key is separated from its value by the colon (:).The syntax to define the dictionary is given below.

In [1]:
Dict={"Name":"Tom","Age":22}
Dict

{'Name': 'Tom', 'Age': 22}

In [3]:
# keys
Dict.keys()

dict_keys(['Name', 'Age'])

In [4]:
Dict.values()

dict_values(['Tom', 22])

In [5]:
Dict.items()

dict_items([('Name', 'Tom'), ('Age', 22)])

In [7]:
Employee={"Name":"John","Age":29,"Salary":25000,"Company":"Google"}
print("Type Shows ",type(Employee),"\n")
print("Data in Employees")
print(Employee)

Type Shows  <class 'dict'>

Data in Employees
{'Name': 'John', 'Age': 29, 'Salary': 25000, 'Company': 'Google'}

Python provides the built-in function dict() method which is also used to create dictionary. The empty curly braces {} is used to create empty dictionary.

In [8]:
Dict={}
print("Empty Dictionary")
print(Dict)

Empty Dictionary
{}

In [9]:
# creating a Dictionary
# with dict() method

Dict=dict({1:'Data',2:'Train',3:'ed'})
print("\nCreate Dictionary by using dict():")
print(Dict)

Create Dictionary by using dict():
{1: 'Data', 2: 'Train', 3: 'ed'}

In [10]:
# creating a Dictionary

Dict=dict([(1,'Devansh'),(2,'Sharma')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Dictionary with each item as a pair:
{1: 'Devansh', 2: 'Sharma'}

# Accessing the Dictionary Values

We have discussed how the data can be accessed in the list and turple by using the indexing.

However, the values can be accessed in the dictionary by using the keys as keys are unique in the dictionary.

The dictionary values can be accessed in the following way.

In [12]:
Employee={"Name":"John","Age":29,"Salary":25000,"Company":"Google"}
print(type(Employee))

print("Name :%s" %Employee["Name"])
print("Age : %s" %Employee["Age"])
print("Salary:%s"%Employee["Salary"])
print("Company:%s"%Employee["Company"])

<class 'dict'>
Name :John
Age : 29
Salary:25000
Company:Google

In [13]:
Employee['Name']

'John'

## Adding Values to dict

Dictionary is:

1. Mutable
2. Values can be updated as Dict[key]
3. The update() is used to update the existing 

NOTE: If the key- value already present in the dictionary, the value gets updated. Otherwise, the new keys added in the dictionary.

In [2]:
# creating empty dict
dict1={}
print("Empty Dict")
print(dict1)

# Adding Elements to dictionary one at a time
dict1[0]="Peter"
dict1[2]="Joseph"
dict1[3]="Ricky"
print("\n Dictionary after Adding 3 elements: ")
print(dict1)

#Adding set of values
# with a single key
# The Emp_ages doesn't exist to dictionary

dict1['Emp_age']=20,33,24
print("\nDictionary after adding 3 elements: ")
print(dict1)

#Updating existing Key's Values
dict1[3]="Data Tained"
print("\nUpdated Key Value: ")
print(dict1)

Empty Dict
{}

 Dictionary after Adding 3 elements:
{0: 'Peter', 2: 'Joseph', 3: 'Ricky'}

Dictionary after adding 3 elements:
{0: 'Peter', 2: 'Joseph', 3: 'Ricky', 'Emp_age': (20, 33, 24)}

Updated Key Value:
{0: 'Peter', 2: 'Joseph', 3: 'Data Tained', 'Emp_age': (20, 33, 24)}

In [4]:
# Example-2 :

Employee={"Name":"John","Age":29,"Salary":25000,"Company":"Google"}
print(type(Employee))
print("Printing Employee data.....")
print(Employee)
print("Enter the Details of the new employees....","\n")

# adding by input taken from user

Employee['Name']=input("Name: ")
Employee["Age"]=int(input("Age: "))
Employee['Salary']=int(input("Salary: "))
Employee['Company']=input("Company: ")
print("printing the new data")

print(Employee)

<class 'dict'>
Printing Employee data.....
{'Name': 'John', 'Age': 29, 'Salary': 25000, 'Company': 'Google'}
Enter the Details of the new employees....

Name: a
Age: 20
Salary: 2000
Company: ebt
printing the new data
{'Name': 'a', 'Age': 20, 'Salary': 2000, 'Company': 'ebt'}

## Deleting Elements using Del keywords

- The items of the dictionary can be deleted by using the del keyword as given below

In [6]:
Employee={"Name":"John","Age":29,"Salary":25000,"Company":"Google"}
print(type(Employee),"\n")

print("printing Employee Data\n",Employee)

print("\nDeleting Employee Data")
del Employee['Name']
del Employee['Company']

print("printing the modified information\n",Employee)

print("deleting the dictionary: Employee ");
del Employee

<class 'dict'>

printing Employee Data
 {'Name': 'John', 'Age': 29, 'Salary': 25000, 'Company': 'Google'}

Deleting Employee Data
printing the modified information
 {'Age': 29, 'Salary': 25000}
deleting the dictionary: Employee

In [8]:
print("Lets try to print it again")

try:
    print(Employee)
except:
    print("Table doesn't exhist")

Lets try to print it again
Table doesn't exhist

The last print Statement in the above code, it raised an error because we tried to print the Employee Dictionary that already deleted.
- Using pop() method

The pop() method accepts that key as an argument and romove the associated value. Consider the following Example.

In [12]:
# Creating a Dictionary

Dict={1:"Data Trained",2:"Peter",3:"Thomas"}

print("Printing Dict",Dict,"\n")

# using pop method
pop_ele=Dict.pop(3)

print("After Removal of element\n",Dict)

Printing Dict {1: 'Data Trained', 2: 'Peter', 3: 'Thomas'}

After Removal of element
 {1: 'Data Trained', 2: 'Peter'}

Python also provides a built-in methods popitem() and clear() method for remove elements from the dictionary. The popitem() removes the arbitrary element from a dictionary, whereas the clear() method removes all elements to the whole dictionary.

# Iterating Dictionary

- A dictionary can be iterated using for loops as given below.

Example 1

In [14]:
# For loop to print all the keys of the dictionary

Employee={"Name":"John","Age":29,"Salary":25000,"Company":"Google"}

for keys in Employee:
    print(keys)

Name
Age
Salary
Company

In [15]:
# Example 2: for loop to print all  the values of the dictionary

Employee={"Name":"John","Age":29,"Salary":25000,"Company":"Google"}

for values in  Employee:
    print(Employee[values])

John
29
25000
Google

In [16]:
# Example -3 : for loop to print the values of the dictionary by using values() method.

Employee={"Name":"John","Age":29,"Salary":25000,"Company":"Google"}
 
for value in Employee.values():
    print(value)

John
29
25000
Google

In [17]:
# Example -4 : for loop to print the values of the dictionary by using keys() method.

Employee={"Name":"John","Age":29,"Salary":25000,"Company":"Google"}
 
for key in Employee.keys():
    print(key)

Name
Age
Salary
Company

# Properties of Dictionary keys

1. In the dictionary, we cannot store multiple values for the same keys, if we pass more than one values for a single key, then the value which is last assigned is considered as the values of the key.

Consider the following example:

In [19]:
Employee={"Name":"John","Age":29,"Salary":25000,"Comapny":"Google","Name":"John"}
print("Employee")

for key,values in Employee.items():
    print(key," : ",values)

Employee
Name  :  John
Age  :  29
Salary  :  25000
Comapny  :  Google

2. In python, the key cannot be any mutable object. We can use numbers, strings, or tuples as the key, but we cannot use any mutable object like the list as the key in the dictionary.

Consider the following example.

In [21]:
Employee={"Name":"John","Age":29,"Salary":2500,"Company":"Google",[100,101,102]:"Department"}

# shows error
print(Employee)

TypeError: unhashable type: 'list'

In [22]:
for key,values in Employee:
    print(key," : ",values)

ValueError: too many values to unpack (expected 2)

# Built-in Dictionary functions

- The built-in python dictionary methods along with the description are given below.

-----------------