# Functions

### Practice the Code Given Below

In [1]:
def square(x):
    return x*x
print(square(2))

4

In [2]:
def add_number(x,y):
    sum=x+y
    return sum

num1=5
num2=6
print("The sum is ",add_number(num1,num2))

The sum is  11

In [3]:
def greet(name,msg):
    """This function greets to the person with the provided message"""
    print("Hello ",name+","+msg)
    
greet("Andrew S","GoodMorning")

Hello  Andrew S,GoodMorning

Write a program to create a fuction that two arguments,name and age and print their values

In [9]:
def fun(name,age):
    "Function having name and age"
    print("Hello All my name is ",name+" & "+"My age is ", age)
fun("rohit","20")

Hello All my name is  rohit & My age is  20

### Task: Write a function absolute_value to find absolute of a given number.

In [10]:
def absolute_value(num):
    """This will returns the absolute value of the entered number"""
    
    if num>=0:
        return num
    else:
        return -num

print(absolute_value(2))

2

In [11]:
print(absolute_value(-4))

4

write a function multiply to calculate multiplication of two numbers by taking as a arguments.

In [13]:
def multify(x,y):
    r=x*y
    print("Multiplication Shows ",r)
    
multify(2,2)

Multiplication Shows  4

In [14]:
def multiply(x,y):
    print("Value of x ",x)
    print("Value of y ",y)
    return x*y
multiply(2,2)

Value of x  2
Value of y  2

4

### write a function division to calculate division of two numbers by taking as a arguments.

In [17]:
def my_func(x,y):
    print("Value X =",x)
    print("Value Y =",y)
    return(x/y)

my_func(2,3)

Value X = 2
Value Y = 3

0.6666666666666666

By local variables and global variables

In [18]:
def my_func():
    x=10
    print("Value inside function: ",x)
    
    
    
    
x=20
my_func()
print("Value outside function: ",x)

Value inside function:  10
Value outside function:  20

In [21]:
squares= list(map(lambda x:x**2,range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
squares=[x**2 for x in range(10)]

In [23]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Task : Write the above code to find cube of x.

In [28]:
[i**2 for i in squares]

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

### copy the same

In [24]:
sequences = [10,2,8,7,5,4,3,11,0, 1]

[i for i in sequences]

[10, 2, 8, 7, 5, 4, 3, 11, 0, 1]

In [30]:
ft=map(lambda x:x*x,sequences)
print(list(ft))

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

### Task : write the above code for the expression x**3

In [29]:
list(map(lambda x:x**3,sequences))

[1000, 8, 512, 343, 125, 64, 27, 1331, 0, 1]

In [31]:
sequences

[10, 2, 8, 7, 5, 4, 3, 11, 0, 1]

#### Filter x greater than 4

In [33]:
list(filter(lambda x:x>4,sequences))

[10, 8, 7, 5, 11]

#### Task : write the above code for the expression x>5.

In [34]:
list(filter(lambda x:x>5,sequences))

[10, 8, 7, 11]

In [36]:
squares=[]

for x in range(10):
    squares.append(x**2)
    
print(squares,end=" ")

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Put the above 4 lines in as user defined function and call the function

In [37]:
def udf():
    " Putting the above 4 lines in as user defined function and calling them"
    return squares

udf()

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [40]:
def udf1():
    squares=[]
    
    for x in range(10):
        squares.append(x**2)
    return squares

print(udf1())

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
def user(x,y):
    i=x*y
    if i<=1000:
        print("Product of the number is ",i)
        
    else:
        print("Sum Stands",x+y)
    
user(100,50)

Sum Stands 150

In [43]:
user(90,10)

Product of the number is  900

In [44]:
def user(x,y):
    if (x*y)<=1000:
        print("Product of the number is ",x*y)
        
    else:
        print("Sum Stands",x+y)
    
user(100,50)

Sum Stands 150

In [45]:
user(90,10)

Product of the number is  900

In [46]:
def mult_sum(num1,num2):
    # calculate product of two number
    product=num1*num2
    # check if product is lss than 1000
    if product<=1000:
        return product
    else:
        # product is greater than 1000 calculate sum
        return num1+num2
    
result= mult_sum(20,30)
print(result)

600

In [47]:
mult_sum(40,30)

70

### Task: Check if the first and last number of a list is the same.

In [50]:
# Write a function to return True if the first and last number of a given list is same. 
# If numbers are different then return False.


def fst_last(numberList):
    print("Given List",numberList)
    first_num=numberList[0]
    last_num=numberList[-1]
    
    if first_num==last_num:
        return True
    else:
        return False

In [51]:
numb=[10,20,30,40,50,10]
numb2=[75,65,35,76,30]
fst_last(numb)

Given List [10, 20, 30, 40, 50, 10]

True

In [52]:
fst_last(numb2)

Given List [75, 65, 35, 76, 30]

False