In [1]:
def intrest(p,r,t):
    si=(p*r*t)/100
    print("si=",si)
    
def total_amount(p,si):
    totalamount=p+si
    return totalamount

In [2]:
intrest(5000,5,2)

si= 500.0

In [3]:
total_amount(5000,500)

5500

In [4]:
def intrest():
    p=int(input("Enter Principal: "))
    r=int(input("Enter Rate: "))
    t=int(input("Enter Time: "))
    
    interest=p*r*t
    print(interest)

In [5]:
intrest()

Enter Principal: 5000
Enter Rate: 50
Enter Time: 3
750000

In [10]:
class Employee:
    def __init__(self,id,name,age):
        self.id=id
        self.name=name
        self.age=age
        
    def display(self):
        print("Id:",self.id,"Name",self.name,"Age",self.age)
        
    
    def userinput(self):
        self.id=input("enter id: ")
        self.name=input("enter name: ")
        self.age=input("enter age: ")
        self.display()

In [11]:
emp1=Employee(100,"Abhijit",20)

In [12]:
emp1.display()

Id: 100 Name Abhijit Age 20

In [13]:
emp2=Employee(200,"Ankit",30)

In [14]:
emp2.id

200

In [15]:
emp2.display()

Id: 200 Name Ankit Age 30

In [16]:
emp1.userinput()

enter id: 1
enter name: we
enter age: 22
Id: 1 Name we Age 22

In [14]:
emp1.userinput()

enter id: 102
enter name: Ankita
enter age: 22
Id: 102 Name Ankita Age 22

In [17]:
class Employee:
    # function 1
    def __init__(self,id,name,age):
        self.id=id
        self.name=name
        self.age=age
        
    # function 2
    def display(self):
        print("Id",self.id,"Name",self.name,"Age:",self.age)
    
    # function 3    
    def user_input(self):
        self.id=input("enter id:")
        self.name=input("Enter name: ")
        self.age=input("Enter Age: ")
        self.display()

In [18]:
emp1=Employee(100,"Ankit",20)
emp1.id

100

In [19]:
emp1.age

20

In [20]:
emp1.display()

Id 100 Name Ankit Age: 20

In [21]:
emp1.user_input()

enter id:12
Enter name: asd
Enter Age: 11
Id 12 Name asd Age: 11

In [22]:
class Product:
    def __init__(self,id,name,price):
        self.id=id
        self.name=name
        self.price=price
        
    def discount(self):
        self.price=self.price-self.price*.35
        return self.price
    
    def display(self):
        print(self.id,self.name,self.price)
        
        self.discount()
        print(self.id,self.name,self.price)
        
p1=Product(1,"abc",800)
p1.display()

1 abc 800
1 abc 520.0