### Q1 Python Program to Find the Square Root

In [1]:
num=float(input("Enter a number: "))
num_sqrt=num**0.5

print("The Square Root of {} is {}".format(num,num_sqrt))

Enter a number: 5
The Square Root of 5.0 is 2.23606797749979

### Q2. Python Program To add Two Numbers

In [4]:
num1=int(input("Enter !st number : "))
num2=int(input("Enter @nd number : "))
sum=(num1+num2)
print("\nThe SUM of {} and {} is {}".format(num1,num2,sum))

Enter !st number : 2
Enter @nd number : 3

The SUM of 2 and 3 is 5

### Q3. Python Program to Calculate the Area of a Triangle

In [5]:
a=float(input("Enter First Number  : "))
b=float(input("Enter Second Number : "))
c=float(input("Enter Third Number  : "))

# SEMI_PERIMETER

s=(a+b+c)/2

# CALCULATE THE AREA

area=(s*(s-a)*(s-b)*(s-c))**0.5
print("SEMI_PERIMETER stands :",s)
print("The AREA of the Triange is %0.2f"%(area))

Enter First Number  : 23
Enter Second Number : 24
Enter Third Number  : 25
SEMI_PERIMETER stands : 36.0
The AREA of the Triange is 248.55

### Q4. Python Program to Swap Two Variables

In [7]:
x=int(input("Enter Value of X "))
y=int(input("Enter Value of Y "))

# printing inserted Value
print("Value inserted of X is {} and Y is {}".format(x,y))

temp=x # value of x shifted to temp
x=y # value of y is shifted to x
y=temp # value of temp shifted to y

print("\nAfter Swapping the X is {} and Y is {}".format(x,y))

Enter Value of X 2
Enter Value of Y 3
Value inserted of X is 2 and Y is 3

After Swapping the X is 3 and Y is 2

### Q5. Python Program to Convert Kilometers to Miles

In [8]:
kilometers=int(input("Enter the values of Kilometer"))

# conversion factor
conv_factor=0.62137119

miles=kilometers*conv_factor
print("Appling Conversion Factor {1} on {0}".format(kilometers,conv_factor))
print("\nThe value stands %0.6f"%(miles))

Enter the values of Kilometer2
Appling Conversion Factor 0.62137119 on 2

The value stands 1.242742

### Q6. Python Program to Convert Celsius To Fahrenheit 

- Formula F = °C × (9/5) + 32.

In [10]:
Celsius=int(input("Enter the Temperature in celsius: "))

# formula stands
Fahrenheit=Celsius*(9/5)+32
print("%0.2f Celsius is equals to %0.3f Fahrenheit"%(Celsius,Fahrenheit))

Enter the Temperature in celsius: 70
70.00 Celsius is equals to 158.000 Fahrenheit

# LIST

### Q1. Python Program to interchange first and last elements in a list

In [2]:
newlist=[]

# total number of element required in list
element=int(input("Enter the number of elements you want in list"))

# element requirement in list
for i in range(0,element):
    
    # this list willl be appended as per the element feeded
    list_element=input("Enter value here: ")
    
    # list being appended
    newlist.append(list_element)
    
    newlist[0],newlist[-1]=newlist[-1],newlist[0]
    
    print(newlist)

Enter the number of elements you want in list5
Enter value here: 1
['1']
Enter value here: 2
['2', '1']
Enter value here: 3
['3', '1', '2']
Enter value here: 4
['4', '1', '2', '3']
Enter value here: 5
['5', '1', '2', '3', '4']

### Q2 Concate two lists into index-wise

In [3]:
list1=["M","na","i","ke"]
list2=["y","me","s","lly"]

list3=[i+j for i,j in zip(list1,list2)]
print(list3)

['My', 'name', 'is', 'kelly']

### Q3 Given a Python list. Turn every item of a list into square

In [6]:
aList=[1,2,3,4,5,6,7]
aList=[1,2,3,4,5,6,7]

aList=[i*i for i in aList]
aList

[1, 4, 9, 16, 25, 36, 49]

### Q4 Concate two lists in the following order

In [16]:
list1=["Hello","take"]
list2=["Dear","Sir"]

# zip will not help in such seniario
list3=[i+j for i,j in zip(list1,list2)]
print(list3)

['HelloDear', 'takeSir']

In [18]:
newlist=[x+" "+y for x in list1 for y in list2]
newlist

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

## Q5 Missing

In [13]:
### Q6 Removing empty strings from the list of strings

list1=["Mike","Emma","Kelly","","Brad"]

newlist=list(filter(None,list1))
newlist

['Mike', 'Emma', 'Kelly', 'Brad']

# Dictation

### Q1: Below are the two lists convert it into the dictonary

In [22]:
keys=["ten","Twenty","Thirty"]
values=[10,20,30]

# we use dict(zip(keys,values))

sampledict=dict(zip(keys,values))
sampledict

{'ten': 10, 'Twenty': 20, 'Thirty': 30}

### Q2. Merge following two Python dictionary into one

In [23]:
dict1={"Ten":10,"Twenty":20,"Thirty":30}
dict2={"Thirty":30,"Fourty":40,"fifty":50}

dict3={**dict1,**dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'fifty': 50}

### Q3 Create a new dictionary by extracting the following keys from a given dictionary

- Given Dictionary

In [28]:
# dictionary named sampleD
sampleD={"name":"Kelly","Age":25,"Salary":8000,"City":"New York"}

# keys needs to extracted from dictionary
keys=['name','Salary']

n = {k: sampleD[k] for k in keys}
print(n)

{'name': 'Kelly', 'Salary': 8000}

### Q4. Check if a Value 200 exists in a dictionary

In [29]:
# dictionary
sampleDict={"a":100,"b":200,"c":300}

# checking 200 in SampleDict values
print(200 in sampleDict.values())

True

### Q5. Rename key city to location in the following Dictionary

In [32]:
sampleDict={"name":"Kelly","Age":25,"Salary":8000,"City":"NewYork"}

sampleDict['location']=sampleDict.pop("City")
print(sampleDict)

{'name': 'Kelly', 'Age': 25, 'Salary': 8000, 'location': 'NewYork'}

#### Q6. Get the key corresponding to the minimum values from the following dictionary

In [33]:
sampleDict={"Physics":82,"Math":62,"History":75}

print(min(sampleDict,key=sampleDict.get))

Math

# Loop

#### Q1 Python program to print only the odd numbers in given range

In [55]:
num1=int(input("Enter the smallest number"))
num2=int(input("Enter the larger value"))

for i in range(num1,num2+1):
    if (i%2)==0:
        continue
    else:
        print(i,end=",")

Enter the smallest number2
Enter the larger value11
3,5,7,9,11,

#### Q2 Write a python Program that prints all the values which are odd and less than 500 from given list of numbers.

In [60]:
numbers=[951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527]

for i in numbers:
    if i>500 or i%2==0:
        continue
        
    else: 
        print(i,end=",")

69,319,485,83,165,141,263,219,105,47,375,345,399,219,237,217,67,81,379,445,451,93,

#### Q3. Find all the numbers from given list which are factor of both 3,7

In [61]:
for i in numbers:
    if i%3==0 and i%7==0:
        print(i,end=",")

651,105,462,399,609,126,

#### Q4. Find the largets number from the given list

In [67]:
# maximum is set to zero
max=0

for i in numbers:# checking numbers
    
    # i is greater than max, max is that number i
    if i>max:
        max=i
        
print(max)

984

#### Q5 Find the squares of odd numbers and cube roots of even number from the list above

In [73]:
for i in numbers:
    if i%2==0:
        print("Cube Root: ",i,"is",i**3,end=" ")
    else:
        print("Square: ",i,"is",i**2,end=" ")

Square:  951 is 904401 Cube Root:  402 is 64964808 Cube Root:  984 is 952763904 Square:  651 is 423801 Cube Root:  360 is 46656000 Square:  69 is 4761 Cube Root:  408 is 67917312 Square:  319 is 101761 Square:  601 is 361201 Square:  485 is 235225 Cube Root:  980 is 941192000 Square:  507 is 257049 Square:  725 is 525625 Square:  547 is 299209 Cube Root:  544 is 160989184 Square:  615 is 378225 Square:  83 is 6889 Square:  165 is 27225 Square:  141 is 19881 Square:  501 is 251001 Square:  263 is 69169 Square:  617 is 380689 Square:  865 is 748225 Square:  575 is 330625 Square:  219 is 47961 Cube Root:  390 is 59319000 Cube Root:  984 is 952763904 Cube Root:  592 is 207474688 Cube Root:  236 is 13144256 Square:  105 is 11025 Cube Root:  942 is 835896888 Square:  941 is 885481 Cube Root:  386 is 57512456 Cube Root:  462 is 98611128 Square:  47 is 2209 Cube Root:  418 is 73034632 Square:  907 is 822649 Cube Root:  344 is 40707584 Cube Root:  236 is 13144256 Square:  375 is 140625 Square:  823 is 677329 Cube Root:  566 is 181321496 Square:  597 is 356409 Cube Root:  978 is 935441352 Cube Root:  328 is 35287552 Square:  615 is 378225 Square:  953 is 908209 Square:  345 is 119025 Square:  399 is 159201 Cube Root:  162 is 4251528 Cube Root:  758 is 435519512 Square:  219 is 47961 Cube Root:  918 is 773620632 Square:  237 is 56169 Cube Root:  412 is 69934528 Cube Root:  566 is 181321496 Cube Root:  826 is 563559976 Cube Root:  248 is 15252992 Cube Root:  866 is 649461896 Cube Root:  950 is 857375000 Cube Root:  626 is 245314376 Square:  949 is 900601 Square:  687 is 471969 Square:  217 is 47089 Square:  815 is 664225 Square:  67 is 4489 Cube Root:  104 is 1124864 Cube Root:  58 is 195112 Cube Root:  512 is 134217728 Cube Root:  24 is 13824 Cube Root:  892 is 709732288 Cube Root:  894 is 714516984 Square:  767 is 588289 Square:  553 is 305809 Square:  81 is 6561 Square:  379 is 143641 Square:  843 is 710649 Square:  831 is 690561 Square:  445 is 198025 Cube Root:  742 is 408518488 Square:  717 is 514089 Cube Root:  958 is 879217912 Square:  609 is 370881 Cube Root:  842 is 596947688 Square:  451 is 203401 Cube Root:  688 is 325660672 Square:  753 is 567009 Cube Root:  854 is 622835864 Square:  685 is 469225 Square:  93 is 8649 Square:  857 is 734449 Cube Root:  440 is 85184000 Cube Root:  380 is 54872000 Cube Root:  126 is 2000376 Square:  721 is 519841 Cube Root:  328 is 35287552 Square:  753 is 567009 Cube Root:  470 is 103823000 Square:  743 is 552049 Square:  527 is 277729

#### Q6. Print First 10 natural numbers using while loop

In [81]:
#starts with i=0
i=0

# while loop till 10
while i<=10:
    
    print(i,end=" ")
    
    i+=1

0 1 2 3 4 5 6 7 8 9 10

#### Q7. Print the following pattern

- 1 
- 1 2 
- 1 2 3 
- 1 2 3 4 
- 1 2 3 4 5

In [85]:
print("Second Number Pattern")

lastNumber=6

for row in range(1,lastNumber):
    for column in range(1,row+1):
        print(column,end=" ")
    print(" ")

Second Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

#### Q8 Python Program to find the factorial of number

In [87]:
num=int(input("Enter a number: "))

#factorial is 1
factorial=1

# check if the number is negative, postive or zero
if num<0: # if number is less than zero
    print("Sorry, Factorial does not for negative number")
    
elif num==0:
    print("The Factorial of 0 is 1")
else:
    for i in range(1,num+1):
        factorial=factorial*i
    print("The factorial of {} is {}".format(num,factorial))

Enter a number: 6
The factorial of 6 is 720

# If else Costruction

#### 1. Python Program to check if a Number is Odd or Even

In [92]:
num=int(input("Please Enter any Number"))


if num%2==0:
    print("The Number {} is EVEN".format(num))
else:
    print("The Number {} is ODD".format(num))

Please Enter any Number3
The Number 3 is ODD

#### 2. Python Program to check if a Number is Positive, Negative or 0

In [93]:
num= float(input("Enter a number: "))

# number is greater than 0
if num>0:
    print("Positive Number")
    
# number is equal to zero
elif num == 0:
    print("Zero")
    
# number is negative number    
else:
    print("Negative Number")

Enter a number: -1
Negative Number

#### Q3. Python Program to check Leap Year?

In [94]:
year=int(input("Enter a year: "))

if (year%4)==0: 
    if(year%100)==0:
        if(year % 400)==0:
            print("{0} is a leap year".format(year))
        else:
            print("{0} is not an leap year".format(year))
    else:
        print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year ".format(year))

Enter a year: 2004
2004 is a leap year

#### Q4. Python program to Find the Largest Among Three Numbers

In [95]:
num1=float(input("Enter First Number:  "))
num2=float(input("Enter Second number: "))
num3=float(input("Enter Third Number:  "))
#9873425424

if (num1>=num2) and (num1>=num3):
    largest=num1
    
elif (num2>=num1) and (num2>=num3):
    largest=num2
    
else:
    largest=num3

print("The largest number is ",largest)

Enter First Number:  3
Enter Second number: 4
Enter Third Number:  4
The largest number is  4.0

#### Q5. Python Program to Check if a person can vote or not?

In [97]:
num= int(input("Enter your age: "))

if num>170:
    print("You can Vote")
else:
    print("You can vote")

Enter your age: 20
You can vote

# Functions

#### Q1 Python Program to Find Number Divisible by Another Number

In [99]:
def divisiblity():
    
    x=int(input("Enter First Number:   "))
    y=int(input("Enter Secound Number: "))
    z=int(input("Enter the Number you want to check: "))
    
    if x%z==0 and y%z==0:
        print(f"{x},{y} are divisible by {z}")
    else:
        print(f"{x},{y} are not divisible by {z}")

divisiblity()

Enter First Number:   2
Enter Secound Number: 4
Enter the Number you want to check: 3
2,4 are not divisible by 3

### Q2 Python Program to check if a given number is prime or not.

In [101]:
def prime(num):
    
    #Prime numbers are greater than 1.
    
    if num>1:
        # check for factors
        for i in range(2,num):
            if (num%i)==0:
                print(num,"is not a prime number")
                print(i,"times",num//i,"is",num)
                
                break
                
            else:
                print(num,"is a Prime Number")
            # if input number is less than
            # or equal to 1, it is not prime
            
        else:
            print(num,"is not a Prime Number")

In [102]:
prime(4)

4 is not a prime number
2 times 2 is 4

### Q3. Write a python function to find factorial of number.

In [104]:
def Factorial():
    
    num=int(input("Enter a Number: "))
    
    factorial=1
    
    # check if number is less than zero the factorial is not possible 
    if num<0:
        print("Sorry the Factorial doesn't exist for negative Numbers")
        
    elif num==0:
        print("The factorial of 0 is 1")
        
    else:
        
        for i in range(1,num+1):
            factorial=factorial*i
            
        print("The factorial of",num," is ",factorial)
        
Factorial()

Enter a Number: 5
The factorial of 5  is  120

In [105]:
Factorial()

Enter a Number: -1
Sorry the Factorial doesn't exist for negative Numbers

In [106]:
Factorial()

Enter a Number: 0
The factorial of 0 is 1

### Python Program to Find HCF

In [107]:
def compute_lcm(x,y):
    if x>y:
        greater =x
    else:
        greater =y
        
    while(True):
        if ((greater%x==0)and(greater%y==0)):
            lcm=greater
            break
        greater+=1
    return lcm

compute_lcm(12,8)

24

### Q6. Write a function func1() such that it can accept a variable length of  argument and print all arguments value

In [109]:
def func1(*args):
    for i in args:
        print(i)

In [110]:
func1(80,100)

80
100

In [111]:
func1(20,40,60)

20
40
60

### Q7. Create an inner function to calculate the addition in the following way Create an outer function that will accept two parameters a and b. Create an inner function inside an outer function that will calculate the addition of a and b, At last, on outer function will add 5 into addition and return it.

In [113]:
def outerFun(a,b):
    square=a**2
    
    def innerFun(a,b):
        return a+b
    
    add= innerFun(a,b)
    return add+5

outerFun(5,10)

20

### Q8. Create the largest item from the given list

In [1]:
a=[4,6,8,24,12,2]
max(a)

24

In [2]:
#pip install nltk

Requirement already satisfied: nltk in c:\users\jitsa\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: joblib in c:\users\jitsa\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in c:\users\jitsa\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\jitsa\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\jitsa\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: colorama in c:\users\jitsa\anaconda3\lib\site-packages (from click->nltk) (0.4.5)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml