# CLASS

In [1]:
# CLASS consist of body having 1>--- data member, 2>-----member function

# we call the class with an object or instances

In [4]:
# Q. what is a class? 

# Ans: class is a architecture of the object.It is a proper description of the attributes and methords of the class.

# example: like you can make many cars of the same type from a design of the car. we write class as   class student:

In [5]:
# data member :- A class variable or instance variable that holds data associated with a class and its object

# member function:- Function that code the specify some work or task

# Instance or object:- An individual object of a certain class an object obj that belongs to a class circle 
# example: think of a dog as a type,your dog is instance

 --------classes----------------------

In [14]:
# class

class student:
    
    # initialization constructor--- to give values to data members
    
    def __init__(self,name,grade):
        self.name=name
        self.grade=grade
        
    # member function
    
    def display(self):
        print("Name :",self.name," Grade:" ,self.grade)

In [9]:
# creat object

stud1=student("Abhijit",9)
stud1.display()

Name : Abhijit  Grade: 9

In [10]:
# creat object

stud2=student("Jack",10)
stud2.display()

Name : Jack  Grade: 10

In [16]:
stud1.name

'Abhijit'

In [17]:
stud1.grade

9

In [19]:
stud2.grade

10

In [20]:
stud2.name

'Jack'

In [22]:
#class

class staff:
    #class variable
    salary=9000
    
    # initialization constructor and data member
    def __init__(self,name,code,):
        self.name=name
        self.code=code
        
    #member function
    def display(self):
        print(" hello :",self.name,"your code is",self.code)
        
 # calling display object

st1=staff("Ranjeet", 1220)
st1.display()

 hello : Ranjeet your code is 1220

In [23]:
# calling instance variable
st1.name

'Ranjeet'

In [24]:
# calling instance variable
st1.code

1220

In [26]:
st2=staff("koyel", 1221)
st2.display()

 hello : koyel your code is 1221

In [27]:
st2.name

'koyel'

In [28]:
st2.code

1221

In [33]:
#class
class student:
    #class variable
    fees=100
    
    # initialization/ data member
    def __init__(self,name,grade):
        self.name=name
        self.grade=grade
        
    def display(self):
        print("Hi",self.name," Grade is" ,self.grade)

In [34]:
# calling object by calling display(self)

std1=student("Raj",4)
std1.display()

Hi Raj  Grade is 4

In [35]:
# calling object by calling display(self)

std2=student("Sangeet", 3)
std2.display()

Hi Sangeet  Grade is 3

In [38]:
# calling instance variable
std2.name

'Sangeet'

In [39]:
# calling intance variable
std2.grade

3

In [41]:
# calling instance variable
std1.name

'Raj'

In [42]:

std1.grade

4

In [43]:
#class

class person:
    
    #initialization, data member
    def __init__(self,id,name):
        self.name=name
        self.id=id
        
    # function member    
    def display(self):
        print("your id number",self.id,"and your name is",self.name)

In [44]:
# object calling

p1=person(2030,"Ranjeet")
p1.display()

your id number 2030 and your name is Ranjeet

In [45]:
# object calling

p2=person(4030,"Faraan")
p2.display()

your id number 4030 and your name is Faraan

In [46]:
# calling instance variable
p2.name

'Faraan'

In [47]:
# calling instance variable

p2.id

4030

In [48]:
# calling instance variable
p1.name

'Ranjeet'

In [49]:
# calling instance variable

p1.id

2030

In [1]:
#constructor is a special method. you can think of as a function which initializes or activates the attributes or properties
#0f the class for a object. use keyword __init__ to create a methord for constructor.

In [2]:
class Employee:
    
    #initialization/data member
    def __init__(self,name,age,id,salary):
        self.name=name
        self.age=age
        self.id=id
        self.salary=salary
    # member function
    def display(self):
        print("Hi",self.name,"your age is",self.age,"your id number",self.id,"and salary is",self.salary)

In [3]:
emp1=Employee("jhon",23,1200,12000)
emp1.display()

Hi jhon your age is 23 your id number 1200 and salary is 12000

In [4]:
emp2=Employee("Andrew",24,1201,13000)
emp2.display()

Hi Andrew your age is 24 your id number 1201 and salary is 13000

In [6]:
emp3=Employee("Andy",25,1202,12500)
emp3.display()

Hi Andy your age is 25 your id number 1202 and salary is 12500

In [7]:
emp2.salary

13000

In [8]:
emp1.age

23

In [9]:
emp1.name

'jhon'

In [10]:
emp3.age

25

In [11]:
emp3.name

'Andy'

In [13]:
#class

class Company:
    
    #initialization/data member
    def __init__(self,name,location,number_of_employees):
        self.name=name
        self.location=location
        self.number_of_employees=number_of_employees
        
    # member function
    def display(self):
        print("hi",self.name,"loction ",self.location," Total employees",self.number_of_employees)

In [14]:
c=Company("jit","UK",25000)

In [19]:
print(c.name)

jit

In [16]:
print(c.location)

UK

In [18]:
print(c.number_of_employees)

25000

In [20]:
#class
class car:
    # initialization/data member
    def __init__(self,company,color):
        self.company=company
        self.color=color
        
    # member function
    def display(self):
        print("This is a ",self.color,self.company)

In [21]:
# this is used in development purpose

def main():
    c=car("Ferrari","Red")
    c.display()

In [22]:
# this is used development purpose

if __name__=="__main__":
    main()

This is a  Red Ferrari

In [23]:
class Employee:
    def __init__(self,name,age):
        print("initialization methord is used")
        self.name=name
        self.age=age
        
    def getdata(self,name,age):
        print("Getdata methord is called")
        self.name=name
        self.age=age
        
    def display(self):
        print("My name is",self.name,"and my age is",self.age)

In [28]:
def main():
    e=Employee("Rajveer",45)
    e.display()
    
    e.getdata("GetData", 90)
    e.display()

In [29]:
if __name__ =="__main__":
    main()

initialization methord is used
My name is Rajveer and my age is 45
Getdata methord is called
My name is GetData and my age is 90

In [1]:
#class

class player:
    def __init__(self,name,age,sports):
        print("FROM Initialization/data member")
        self.name=name
        self.age=age
        self.sports=sports
        
    def getdata(self,name,age,sports):
        print("From get data")
        self.name=name
        self.age=age
        self.sports=sports
        
    def display(self):
        print("My name is",self.name,"age",self.age,"and I love",self.sports)

In [3]:
play1=player("Sachin Tendulkar",25,"Cricket")
play1.display()

FROM Initialization/data member
My name is Sachin Tendulkar age 25 and I love Cricket

In [6]:
play1.getdata("kholi",27,"cricket")
play1.display()

From get data
My name is kholi age 27 and I love cricket

In [7]:
play1.getdata("shewag",28,"cricket")

From get data

In [8]:
play1.display()

My name is shewag age 28 and I love cricket

In [9]:
class military:
    
    def __init__(self,name,weapon):
        self.name=name
        self.weapon=weapon
        
    def getdata(self,name,weapon):
        self.name=name
        self.weapon=weapon
        
    def displaydata(self):
        print("I am ",self.name,"my weapon is",self.weapon)

In [21]:

mil1=military("India","agni missile")
mil1.displaydata()

I am  India my weapon is agni missile

In [22]:
mil2=military("Russia","S-400")
mil2.displaydata()

I am  Russia my weapon is S-400

In [23]:
mil2.name

'Russia'

In [24]:
mil1.name

'India'

In [28]:
def main():
    
    m1=military("porkisthan","Terror")
    m1.displaydata()
    
    m2=military("america","Fighter jets")
    m2.displaydata()

In [29]:
if __name__=="__main__":
    main()

I am  porkisthan my weapon is Terror
I am  america my weapon is Fighter jets

In [26]:
class employee:
    
    def __init__(self,name,id,status):
        self.name=name
        self.id=id
        self.status=status
        
    def getdata(self,name, id,status):
        self.name=name
        self.id=id
        self.status=status
    
    def display(self):
        print("My name is",self.name,"My id number stands",self.id,"I am",self.status)
        
        
em1=employee("raj",45,"sin")
em1.display()

My name is raj My id number stands 45 I am sin

In [28]:
em1.getdata("ravi",90,"sin")
em1.display()

My name is ravi My id number stands 90 I am sin

In [30]:
em1.getdata("rahul",89,"sin")
em1.display()

My name is rahul My id number stands 89 I am sin

In [31]:
em1.getdata("kim",78,"married")
em1.display()

My name is kim My id number stands 78 I am married

In [32]:
def main():
    
    ep1=employee("Ankit",23,"single")
    ep1.display()

In [33]:
if __name__=="__main__":
    main()

My name is Ankit My id number stands 23 I am single

In [34]:
ep2=employee("Aneek",34,"Married")
ep2.display()

My name is Aneek My id number stands 34 I am Married

In [35]:
def main():
    ep3=employee("Arun",34,"Single")
    ep3.display()
    
    ep4=employee("Shib",43,"Divorced")
    ep4.display()

In [36]:
if __name__=="__main__":
    main()

My name is Arun My id number stands 34 I am Single
My name is Shib My id number stands 43 I am Divorced

In [1]:
class colour:
    
    def __init__(self,name,use):
        self.name=name
        self.use=use
        
    def getdata(self,name,use):
        self.name=name
        self.use=use
        
    def display(self):
        print("My name is",self.name,"I love to ",self.use)

In [11]:
def main():
    color1=colour("Papaya","BE Green")
    color1.display()
    
    color1.getdata("Water","Be blue")
    color1.display()

In [12]:
if __name__=="__main__":
    main()

My name is Papaya I love to  BE Green
My name is Water I love to  Be blue

In [13]:
color2=colour("rose","Red")
color2.display()

My name is rose I love to  Red

In [14]:
color2.getdata("Egg","Wite")
color2.display()

My name is Egg I love to  Wite

In [33]:
class employee:
    
    def __init__(self,id,stream):
        self.id=id
        self.stream=stream
        
    def getdata(self,id,stream):
        self.id=id
        self.stream=stream
        
    def display(self):
        print("Id number",self.id,"stream ",self.stream) 
        
print("I am done ")

I am done

In [34]:
def main():
    rahul=employee(121,"BSC")
    rahul.display()
    
    rahul.getdata(90,"BBA")
    rahul.display()

In [35]:
if __name__=="__main__":
    main()

Id number 121 stream  BSC
Id number 90 stream  BBA

In [39]:
rahul.id

'Ratan Lal'

In [40]:
rahul.stream

'Santi debi'

In [41]:
rahul.getdata(30,"MBa")

In [42]:
rahul.display()

Fathers Name is  30 And his Mothers Name is  MBa

In [43]:
class book:
    
    def __init__(self,name_book,color_book):
        self.name_book=name_book
        self.color_book=color_book
        
    def getdata(self,name_book,color_book):
        self.name_book=name_book
        self.color_book=color_book
        
    def display(self):
        print("Name of the book is",self.name_book,"Color of the book is",self.color_book)
        
bk=book("R D sharma","blue")
bk.display()

Name of the book is R D sharma Color of the book is blue

In [44]:
bk.getdata("The Time Machine","black")

In [45]:
bk.display()

Name of the book is The Time Machine Color of the book is black

In [49]:
def main():
    bk1=book("6 secrets"," Black and Red")
    bk1.display()

In [50]:
if __name__=="__main__":
    main()

Name of the book is 6 secrets Color of the book is  Black and Red