In [5]:
import sqlite3

In [6]:
mydb=sqlite3.connect("G:/Data_Base/Scores_database.db")

In [7]:
cur=mydb.cursor()

In [21]:
cur.execute("create table scores(gender char(6),name text, score int)")

In [22]:
mydb.commit()

In [23]:
cur.execute("Insert into scores values('Male','Abhijit', 78 ),('Male','Ranjit',89),('female','Ritu',90),('male','Ranjan',70)")

In [24]:
mydb.commit()

In [25]:
result=cur.execute("select * from scores")
result.fetchall()

[('Male', 'Abhijit', 78),
 ('Male', 'Ranjit', 89),
 ('female', 'Ritu', 90),
 ('male', 'Ranjan', 70)]

In [26]:
cur.execute("Insert into scores values('Male','Dinesh',87),('female','umesh',90)")

In [28]:
mydb.commit()

In [29]:
result=cur.execute("Select * from scores")
result.fetchall()

[('Male', 'Abhijit', 78),
 ('Male', 'Ranjit', 89),
 ('female', 'Ritu', 90),
 ('male', 'Ranjan', 70),
 ('Male', 'Dinesh', 87),
 ('female', 'umesh', 90)]

In [9]:
with open('scores_file.csv','r')as file:
    total_records=0
    for row in file:
        cur.execute("insert into scores values(?,?,?)",row.split(","))
        mydb.commit()
        total_records+=1
print(total_records,'Records inserted')

8 Records inserted

In [11]:
result=cur.execute("Select * from scores")

result.fetchall()

[('Male', 'Abhijit', 78),
 ('Male', 'Ranjit', 89),
 ('female', 'Ritu', 90),
 ('male', 'Ranjan', 70),
 ('male', 'Virat', 88),
 ('male', 'Virat', 88),
 ('female', 'heena', 68),
 ('male', 'sam', 86),
 ('male', 'jack', 99),
 ('female', 'deepika', 79),
 ('male', 'deepak', 87),
 ('female', 'rimi', 76),
 ('male', 'rik', 89)]

# Practice Question:

In [12]:
import sqlite3

In [13]:
meradb=sqlite3.connect("Employee_Database.db")

In [14]:
cur=meradb.cursor()

In [15]:
cur.execute("Create Table Employees(Id int primary key, Name text, Age int, Address char(20), salary real)")

In [17]:
meradb.commit()

In [27]:
sql=("insert into Employees values (1000,'Abhijit',29,'BK',2000) ,(1001,'Ankit',30,'CH',2100) ,(1002,'Anup',27,'PJ',1900) ,(1003,'Rupa',28,'BOM',1800)")

In [28]:
cur.execute(sql)
meradb.commit()

In [40]:
q=cur.execute("Select * from Employees")
q.fetchall()

[(100, 'Abhijit', 29, 'BK', 2000.0),
 (101, 'Ankit', 30, 'CH', 2100.0),
 (102, 'Anup', 27, 'PJ', 1900.0),
 (103, 'Rupa', 28, 'BOM', 1800.0),
 (1000, 'Abhijit', 29, 'BK', 2000.0),
 (1001, 'Ankit', 30, 'CH', 2100.0),
 (1002, 'Anup', 27, 'PJ', 1900.0),
 (1003, 'Rupa', 28, 'BOM', 1800.0),
 (1005, 'Anik', 78, 'MAA', 1700.0),
 (1006, 'Bipul', 38, 'IXR', 1900.0),
 (1007, 'Vinit', 45, 'PAT', 2100.0)]

In [34]:
result=cur.execute("select Name,id from employees where salary>=2000")

In [35]:
result.fetchall()

[('Abhijit', 100), ('Ankit', 101), ('Abhijit', 1000), ('Ankit', 1001)]

In [38]:
result=cur.execute("Select Name, Id, Salary from employees where id>100")
result.fetchall()

[('Ankit', 101, 2100.0),
 ('Anup', 102, 1900.0),
 ('Rupa', 103, 1800.0),
 ('Abhijit', 1000, 2000.0),
 ('Ankit', 1001, 2100.0),
 ('Anup', 1002, 1900.0),
 ('Rupa', 1003, 1800.0)]

In [39]:
sql=("insert into employees values (1005,'Anik',78,'MAA',1700),(1006,'Bipul',38,'IXR',1900),(1007,'Vinit',45,'PAT',2100)")
cur.execute(sql)
meradb.commit()

In [1]:
sql=("update employees set id=1020 where name is 'Anup' ")

------------------------------------------------------------------

# SQLite3 24th June 2022

In [2]:
"""
Basisc constraint

>primary key- 1. Unique constraint, 2.Not null

>Not Null means no blank values can be inserted in table

"""

'\nBasisc constraint\n\n>primary key- 1. Unique constraint, 2.Not null\n\n>Not Null\n\n'

In [3]:
import sqlite3

#### Adding date in table:

In [ ]:
db