# DATABASE

In [1]:
# COLUMNS ARE KNOWN AS Columns/Attributes/Characteristics
# rows are also known as tuple
# number of rows and columns are known as Table
# collection of logically connected table are known database Ex: database of(Employee,Employeers,projects)

#we can excess and maintain by software technology by data management system

In [2]:
# we can use SQl (structured Query Language) to maintain the data base management

#(Data base of company)<---(SQL is used for data base management)---> (user)

In [3]:
# DBMS are of two type 

# Relational data base (structured date with rows and column) ex:MS Sql server, SQLite,My SQL, Oracle

# Non- relational data base (non-structured data frm fb or twitter etc) ex: mongo db, Cassandra DB

# open source(Free software) 

# lisensed or propretor(need to purchase)

In [4]:
# SQL lite  1. <<<<Open source - free>>> 
#           2. <<<Relational DBMS - paid>>>

# SQL is divided into 3 parts:

# DDL(Data Defination Language)- Create,after,drop  
# DML(Data Manipulation language)- Select,update,delete
# DCL(Data control language)-remoke,remove,commit,grant

In [5]:
#  Need to call SQ lite before creating data base

In [6]:
# sqlite 3

import sqlite3

In [7]:
""""
Working with database using SQLite(Structured Query Language)
1. Create a connection Object.
2. From the connection object, create a cursor object.
3. Using the cursor object,call the execute methord with create table query as the parameter
"""

'"\nWorking with database using SQLite(Structured Query Language)\n1. Create a connection Object.\n2. From the connection object, create a cursor object.\n3. Using the cursor object,call the execute methord with create table query as the parameter\n'

# Create Database:

In [8]:
# student database will be created in jupiter notebook Home

#First Connection Object

db=sqlite3.connect("Student_database.db")

In [9]:
# second step: From the connection object, create a cursor object.

In [10]:
""" 
CURSER

A curser in Sql is a temprory work area created in system memory when a SQL statement is executed
A SQL curser is a set of rows together with a pointer that identifies a current row.
It is a database object to retrieve data from a result set one row at a time

"""

' \nCURSER\n\nA curser in Sql is a temprory work area created in system memory when a SQL statement is executed\nA SQL curser is a set of rows together with a pointer that identifies a current row.\nIt is a database object to retrieve data from a result set one row at a time\n\n'

In [11]:
# create cursor object from connection

cur=db.cursor()

# Create table in student_database

"""
SQL Data type

1. interger---numeric values
2. real-------decimal values/float
3. text-------character values(free)
4. char(20)---character values(till20)


"""

In [12]:
# creating table 

cur.execute("create table student (id int primary key,name text,marks int)")

# INSERT DATA IN STUDENT TABLE

In [13]:
# feeding line 1

cur.execute("insert into student(id,name,marks) values(1,'john',90)")

In [9]:
# saving the line 1 inserted
db.commit()

NameError: name 'db' is not defined

In [15]:
# displaying rows
print(cur.rowcount,"Records(s) inserted")

1 Records(s) inserted

In [16]:
# saving line 2

cur.execute("insert into student(id,name,marks) values(2,'dev',70)")

db.commit()

In [17]:
results=cur.execute("select * from student")

for row in results:
    print(row)

(1, 'john', 90)
(2, 'dev', 70)

In [18]:
cur.execute("insert into student values(4,'a',34)")
db.commit()

In [19]:
cur.execute("insert into student values(5,'b',56)")
db.commit()

In [20]:
cur.execute("insert into student values(6,'c',67)")
db.commit()

In [21]:
cur.execute("insert into student values (7,'d', 90)")
db.commit()

In [22]:
results=cur.execute("select * from student")

In [23]:
for row in results:
    print (row)

(1, 'john', 90)
(2, 'dev', 70)
(4, 'a', 34)
(5, 'b', 56)
(6, 'c', 67)
(7, 'd', 90)

In [24]:
results=cur.execute("select* from student")
for row in results:
    print(row)

(1, 'john', 90)
(2, 'dev', 70)
(4, 'a', 34)
(5, 'b', 56)
(6, 'c', 67)
(7, 'd', 90)

In [10]:
import sqlite3

In [11]:
db1=sqlite3.connect("Testing 1db.db")

In [12]:
cur=db1.cursor()

In [13]:
db1=cur.execute("create table t1(name text,age int,id int)")

OperationalError: table t1 already exists

In [14]:
cur.execute("insert into t1 values('jack',23,1),('jill',24,2)")
db1.commit()

In [15]:
result=cur.execute("select * from t1")

In [16]:
for i in result:
    print(i)

('jack', 23, 1)
('jill', 24, 2)

In [18]:
cur.execute("insert into t1 values('ram',23,3),('robin',58,4),('ravi',59,5)")
db1.commit()

print(cur.rowcount,"Row records")

3 Row records

In [20]:
result=cur.execute("select * from t1")

for i in result:
    print(i)

('jack', 23, 1)
('jill', 24, 2)
('ram', 23, 3)
('robin', 58, 4)
('ravi', 59, 5)
('ram', 23, 3)
('robin', 58, 4)
('ravi', 59, 5)

In [21]:
import sqlite3

In [22]:
# first object calling

db=sqlite3.connect("newtestdb.db")

In [24]:
# calling cursor object

cur=db.cursor()

In [26]:
# table creation
cur.execute("create table new1(color text, color_code int)")

In [27]:
# insert values
cur.execute("insert into new1 values('black',10),('purple',20),('orange',30)")
db.commit()

In [28]:
print(cur.rowcount,'rows')

3 rows

In [1]:
import sqlite3

In [3]:
db=sqlite3.connect("nothernpointdb.db")

In [4]:
cur=db.cursor()

In [5]:
cur.execute("create table Schools(Area text,school_code int)")

In [7]:
cur.execute("insert into schools values('Mgm',124)")
db.commit()

In [8]:
cur.execute("insert into schools values('hcs',120),('chimaya',67),('dav',47)")
db.commit()
print(cur.rowcount,"rows")

3 rows

In [10]:
result=cur.execute("select * from Schools")

for i in result:
    print(i,end=" ")

('Mgm', 124) ('hcs', 120) ('chimaya', 67) ('dav', 47)

In [11]:
results=cur.execute("select Area from schools")

for i in results:
    print(i)

('Mgm',)
('hcs',)
('chimaya',)
('dav',)

In [13]:
result=cur.execute("select school_code from schools")

for i in results:
    print(i)

(124,)
(120,)
(67,)
(47,)

In [15]:
"""thank you"""

'thank you'