Variable number of Arguments we can write as (*Args)

(*) can be used where you don't know exact number of arguments that can be put to a function

In [1]:
def plus (*args):
    return sum(args)

In [3]:
plus(12,45)

57

In [4]:
plus(9,1,2)

12

In [5]:
# finding Max from (*args) or undefined dATAS

def mu(*args):
    return max(args)

In [6]:
mu(2,4,6)

6

In [7]:
mu(67,89,90)

90

In [8]:
def addthree(a,b,c):
    result=a+b+c
    print(result)

In [10]:
# after calling addthree a=2,b=1,c=3 are being added
addthree(2,1,3)

6

In [11]:
def addthreenew(a,b,c):
    result=a+b+c
    return (result)

In [12]:
p=addthreenew(1,2,4)

p

7

In [13]:
p

7

user defined function are that are created by the user like addthree, plus as created by me.

whereas the pre-assigned function are those that are defined already in python like print(),sum(),int(),max(),min()

In [25]:
# for pre- defined

def mi(*args):
    return min(args)

In [26]:
mi(3,5,6,8)

3

In [27]:
# user defined function

plus(2,3,6,7)

18

In [33]:
# for pre defined

# green words or (keys) are prefined

def maxnew(*args):
    return max(*args)

In [36]:
# print max(*args wont work) we can use return

In [35]:
maxnew(67,90,21)

90

In [34]:
maxnew(23,34,89)

89

HOW DO MACHINE CALCULATE THE FUNCTION
def sumfunction(*numbers)
    
    s=s+n
    s=0+1(1st number)
    
    now s=1
    
    s=s+n
    s=1+2(2nd number)
    
    now s=3(you got result 3 on 54)
    
same on 57
    
now s=3

s=s+n
s=3+3
s=6
hence the result is 6

In [53]:
#s=s+n     FOR s+=n

def sumfunc(*numbers):
    s=0
    for n in numbers:
        s+=n 
    return s

In [54]:
print(sumfunc(1,2))

3

In [57]:
sumfunc(1,2,3)

6

In [56]:
print(sumfunc(3,1,2))

6

Functions: LAMBDA

Lambda expression can be stored on variable

variable=lambda expressions

it consist of:
    
the keyword : lambda

A bound variable: x

A body x*2

How to write the formula

#variable= lambda x,y:x+y

#variable(,)

In [2]:
test= lambda x:x*2
test (5)

10

In [3]:
m=lambda x,y,z:x+y+z
m(2,3,5)

10

In [4]:
#find square

square= lambda x:x**2
square(5)

25

In [6]:
testadd= lambda x,y:x+y
testadd(2,3)

5

In [7]:
m=lambda x,y,z: x+y/z
m(10,2,4)

10.5

In [9]:
#find squareroot


sqroot=lambda x:x**(1/2)
sqroot(64)

8.0

In [10]:
sqroot(25)

5.0

In [11]:
#find cube

cube=lambda x:x**3
cube(3)

27

In [12]:
# find cubroot

cuberoot=lambda x:x**(1/3)
cuberoot(27)

3.0

In [13]:
# add var is add variable name taken, arg1,arg2 taken in x,y

addvar=lambda arg1,arg2: arg1+arg2
print("Value of total :" ,addvar(5,10))
print("value of 2nd value :",addvar(10,2))

Value of total : 15
value of 2nd value : 12

CONVERT TEMPERATURE IN FAHRENHEIT

In [20]:
def fahrenheit(T):
    return((9/5)*T +32)

# formula to change fahrenheit to celsius is(9/5 into  temp + 32)

In [21]:
f=fahrenheit(35)
f

95.0

In [25]:
def celsius(T):
    
    return((5/9)*(T-32))

# formula to change celsius to fahrenheit is ((5/9) *(Temperature-32))

In [26]:
celsius(95)

35.0

In [29]:
# lambda function with fahrenheit 

F=lambda x: (9/5)*x +32;

F(35)

95.0

In [30]:
C= lambda x: (5/9)*(x-32);
C(95)

35.0

MAP IN LAMBDA-------> IT APPLIES ON LIST