In [1]:
# gREEN IS KEYWORD
# inisialisation, condition,increment

# IF CONSTRUCTS

In [2]:
marks=60

if marks>50:
    print("The marks is greater then 50")
else:
    print("The marks is less than 50")

The marks is greater then 50

In [3]:
marks=20

if marks>50:
    print("The marks is greater than 50")
else:
    print("The marks is less than 50 and the result is",marks)

The marks is less than 50 and the result is 20

In [4]:
x=150

if x>100:
    print("The value of x is greater than 100 ")
else:
    print("The value of x is less than 100 it is", x)

The value of x is greater than 100

In [5]:
y=90

if y>100:
    print("Y is greater than 100")
else:
    print("The value of Y is less then 100 it is",y)

The value of Y is less then 100 it is 90

In [6]:
n=10

#When n=10 is divided by 2,Then Remender is 0==0 then it will be even else odd

# two equal sign is comparison. one qual is assignment operator

if n%2==0:
    print("The number is even",n)
else:
    print("The number is odd",n)

The number is even 10

In [7]:
x=11

if x%2==0:
    print("The number is even")
else:
    print("The Number is odd")

The Number is odd

In [8]:
z=11

if z%2==1:
    print("The number is odd")
else:
    print("The number is even")

The number is odd

In [9]:
z=13

if z%2==1:
    print("The number is odd")
else:
    print("The Number is even")

The number is odd

In [1]:
p=int(input("Please enter your desired number---->"))

if p%2==0:
    print("I belive you have entered a EVEN number, that is",p)
else:
    print("I belive its an ODD number",p)

Please enter your desired number---->20
I belive you have entered a EVEN number, that is 20

In [11]:
Marks=int(input("Please enter your Marks"))

if Marks>=40:
    print("Pass")
else:
    print("Fail")

Please enter your Marks60
Pass

BREAK STATEMENT>>>>>>>>>>>>>

In [12]:
for i in [1,2,3,4,5]:
    if i==3:
        break
    print(i)

1
2

In [13]:
for i in ["apple","mango","banana","Orange","grapes"]:
    if i=="banana":
        break
    print(i)

apple
mango

In [1]:
for love in["fish","ice-cream","momos","Pizza"]:
    if love=="Pizza":
        break
    print(love)

In [29]:
for k in [10,20,30,40,50]:
    if k==30:
        break
    print(k)

10
20

In [15]:
for c in [1,2,3,4,5,6,7,8,9,10]:
    if c==9:
        break
    print(c,end=" ")
    print("end 1")
    
print("Ended the loop")

1 end 1
2 end 1
3 end 1
4 end 1
5 end 1
6 end 1
7 end 1
8 end 1
Ended the loop

In [16]:
for n in[21,34,54,67,89,90]:
    if n==67:
        break
    print(n)
    print("end")
    
print("Loop Ended")

21
end
34
end
54
end
Loop Ended

In [17]:
for k in ["abc","bcf","ghf","kio","lkj"]:
    if k=="kio":
        break
    print(k)
    
print("Ended the Loop")

abc
bcf
ghf
Ended the Loop

CONTINUE>>>>>>>>>>>>>>>>LOOP

In [18]:
for i in [1,2,3,4,5,6,60,7,78,]:
    if i==7:
        continue
    print(i,end=" ")
    
print("Ended the loop")

1 2 3 4 5 6 60 78 Ended the loop

In [19]:
for j in[10,20,30,40,50,60,70]:
    if j==70:
        continue
    print(j)
    print("End")
    
print("Ended the continue statement")

10
End
20
End
30
End
40
End
50
End
60
End
Ended the continue statement

In [22]:
for pop in ["mango","grapes","Papaya","leamon","banana"]:
    if pop=="leamon":
        continue
    print(pop,end=" ")
    
print("Ended loop of continue")

mango grapes Papaya banana Ended loop of continue

In [26]:
for alfa in["a","b","c","d","e"]:
    if alfa=="d":
        continue
    print(alfa ,end=" ")
    
print(" alfa loop ended")

a b c e  alfa loop ended

# <<<<< LIST COMPREHENSION>>>>>>>

In [27]:
# MOVING DATA FROM LIST 1 TO ANOTHER LIST OR VARIABLE

list1=[10,20,30,40,50]
s=[s for s in list1]

s

[10, 20, 30, 40, 50]

In [30]:
list2=[1,2,3,4,5,6,7,8]

b=[b for b in list2]
b

[1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
# p for p in list2 where p modulus is equal to zero

list2=[1,2,3,4,5,6,7,8,9,10]

cb=[p for p in list2 if p%2==0]

cb

[2, 4, 6, 8, 10]

In [32]:
list3=[10,11,12,13,14,15,16,17,18,19,20]
bc=[n for n in list3 if n%2==0]

bc

[10, 12, 14, 16, 18, 20]

In [33]:
list4=[1,2,3,4,5,6,7,8,9,10]
bn=[n for n in list4 if n%2!=0]

bn

[1, 3, 5, 7, 9]

In [34]:
list5=[1,2,3,4,5,6,7,8,9,10]
bno=[n for n in list5 if n%2==1]

bno

[1, 3, 5, 7, 9]

In [36]:
#revision(break finction)

for ic in [21,12,31,41,556,67,78]:
    if ic==67:
        break
    print(ic, end=" ")
    
print("end of break")

21 12 31 41 556 end of break

In [37]:
for city in ["bokaro","patna","south parganas","north parganas","delhi"]:
    if city=="north parganas":
        break
    print(city,end=" ")
    
print("End of loop")

bokaro patna south parganas End of loop

In [38]:
#revision continue loop

for ni in [21,23,34,56,78,98,90]:
    if ni==78:
        continue
    print(ni)
print("Ending continue loop without 78")

21
23
34
56
98
90
Ending continue loop without 78

In [47]:
for name in ["hcs","mgm","dps","ggps","dav","xvs","cresent"]:
    if name=="dps":
        continue
    print(name, end=" ")
    print("school")
    
print("Ending by removing dps from schools")

hcs school
mgm school
ggps school
dav school
xvs school
cresent school
Ending by removing dps from schools

In [51]:
marks=int(input("Enter the marks"))

if marks>50:
    print("Pass")
else:
    print("Fail")

Enter the marks23
Fail

In [52]:
x=20

if x==20:
    print("the number is equal to twenty")
else:
    print("The number or then 20 or less than twenty")

the number is equal to twenty

In [53]:
y=50

if y>40:
    print("the number is more than 4O")
else:
    print("the number is less than 40")

the number is more than 4O

In [54]:
y=int(input("Enter any number"))

if y>39:
    print("number above 40 or above")
else:
    print("number is less than 40")

Enter any number40
number above 40 or above

In [57]:
list5=[12,23,45,65,78]
dp=[ s for s in list5]

dp

[12, 23, 45, 65, 78]

In [60]:
list5=[12,23,45,65,78]

hu=[d for d in list5 if d%2==0]
hu

[12, 78]

In [61]:
list6=[21,22,23,24,25,26,27,28,29,30]
op=[ds for ds in list6 if ds%2!=0]
op

[21, 23, 25, 27, 29]